@require '../../vars'

.z-event-list
  > .event
    display: block
    padding: 16px 20px
    border-bottom: 1px solid getColor('$tertiary200')

    > .g-grid
      display: flex

      > .image
        width: 100px
        height: 78px
        margin-right: 16px
        border-radius: 4px
        background-size: 100%

      > .content
        > .name
          font-subtitle1()

        > .info
          font-caption()
