@require '../../vars'

.p-social
  flex1()
  display: flex
  flex-direction: column

  > .fab
    position: absolute
    bottom: 62 + 16px // FIXME: w/o bottom bar on desktop
    right: 16px


  @media (min-width: $breakPointMedium)
    > .fab
      bottom: 16px
