@require '../../vars'

.z-stripe-form
  > .stored-info
    > .payment-errors
      font-caption()
      color: getColor('$red500')

    > .edit
      font-caption(false)
      margin-top: 8px
      cursor: pointer

  > .form
    > .payment-errors
      font-caption()
      color: getColor('$red500')

    > .form-row
      margin: 8px 0

      &.flex
        display: flex
        align-items: baseline

        > .slash
          margin: 0 16px
