@require '../../vars'

.z-places-filter-bar
  pointer-events: all

  &.has-multiple-data-types
    > .bar
      padding-left: 0
      > .show
        display: flex

  > .bar
    background: getColor('$tertiary500')
    width: 100%
    min-height: 40px
    border-bottom: 1px solid getColor('$black12')
    box-sizing: border-box
    display: flex
    // margin-top: 60px
    padding-left: 4px

    > .show
      font-caption2(false)
      cursor: pointer
      // background: getColor('$bg600')
      padding: 0 32px 0 12px
      border-right: 1px solid getColor('$black12')
      margin-right: 4px
      position: relative
      display: none
      align-items: center

      &:after
        content: ''
        position: absolute
        top: 50%
        margin-top: -2px
        right: 12px
        width: 0
        height: 0
        border-left: 4px solid transparent
        border-right: 4px solid transparent
        border-top: 4px solid getColor('$bgText70')

    > .filters
      flex1()
      white-space: nowrap
      overflow-x: auto
      overflow-y: hidden
      -webkit-overflow-scrolling: touch

      &.amenity
        > .filter
          border: 1px solid getColor('$green50026')

          &.has-value
            background: getColor('$green50026')
            border: 1px solid getColor('$green500')

      &.overnight
        > .filter
          border: 1px solid getColor('$blue50026')

          &.has-value
            background: getColor('$blue50026')
            border: 1px solid getColor('$blue500')

      > .filter
        font-caption2(false)
        cursor: pointer
        display: inline-block
        background: getColor('$tertiary100')
        border: 1px solid getColor('$primary100')
        padding: 0 8px
        border-radius: 10px
        margin: 8px 4px
        position: relative

        &.has-value
          background: getColor('$primary50')
          border: 1px solid getColor('$primary500')

        &.has-more
          padding-right: 24px

          &:after
            content: ''
            position: absolute
            top: 50%
            margin-top: -2px
            right: 8px
            width: 0
            height: 0
            border-left: 4px solid transparent
            border-right: 4px solid transparent
            border-top: 4px solid getColor('$primary500')

  > .filter-type-selector
    position: absolute
    display: none
    top: 100px
    left: 0
    min-width: 180px
    background: getColor('$tertiary100')
    border: 1px solid getColor('$black12')
    border-left: none
    border-top: none
    z-index: 1000 // nav bar grip is 999, this needs to be higher
    padding-bottom: 4px

    &.is-visible
      display: block

    > .title
      font-caption3(false)
      padding: 8px

    > .type
      font-caption2(false)
      padding: 6px 8px
      display: flex
      align-items: center
      cursor: pointer

      &.is-selected
        background: getColor('$primary50')

      &.is-selected.amenity
        background: getColor('$green50026')

      &.is-selected.overnight
        background: getColor('$blue50026')

      &.is-selected.low-clearance
        background: getColor('$red50026')

      > .checkbox
        margin-right: 8px
        display: flex

      > .name
        display: flex
        align-items: center

        > .key
          width: 10px
          height: 10px
          margin-right: 4px
