@require '../../vars'

.z-group-audit-log
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch
  padding: 16px

  > .g-grid

    > .logs
      margin: 0
      padding: 0
      list-style-type: none
      max-width: 800px
      margin-top: 16px

      > .log
        background: getColor('$tertiary200')
        display: flex
        align-items: center
        padding: 16px
        margin-bottom: 2px

        > .avatar
          margin-right: 16px

        > .text
          font-body1()
          color: getColor('$bgText')

          > .time
            font-caption3()
