@require '../../vars'

.z-tertiary-button
  max-width: 400px
  margin: 0 auto

  // > .z-button
  //   > .button
  //     // border: 1px solid getColor('$primary500')
  //     background: getColor('$tertiary200')
