@require '../../vars'

.z-places-search
  // position: absolute
  // width: 100%
  // height: 100%

  > .input-container
    pointer-events: all
    // padding: 8px 0 12px 0
    background: getColor('$tertiary0')
    margin-bottom: 4px

    > .input
      padding: 8px 12px 8px 12px
      position: relative
      z-index: 99 // needs to be less than 100 (place page overlay is 100)

  &.is-open
    > .overlay
      opacity: 1
      pointer-events: all

    > .input-container > .input
      shadow-1()

  > .overlay
    position: absolute
    z-index: 98
    pointer-events: none
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding-bottom: 62px // hack to cover bottom bar
    box-sizing: border-box
    background: getColor('$tertiary0')
    opacity: 0
    overflow: auto
    -webkit-overflow-scrolling: touch
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)

    > .overlay-inner
      padding: 8px
      padding-top: 56px

      > .locations //, > .data-types
        padding: 8px
        margin-top: 8px

        // > .title
        //   font-subtitle1()
        //   color: getColor('$primaryMain')
        //   padding: 0 8px
        //   margin-bottom: 8px

      // > .data-types > .g-grid > .g-cols > .g-col
      //   > .type
      //     display: flex
      //     align-items: center
      //     padding: 0 8px
      //     cursor: pointer
      //
      //     > .info
      //       > .name
      //         font-subtitle1()
      //
      //       > .description
      //         font-caption()
      //         white-space: nowrap
      //         overflow: hidden
      //         text-overflow: ellipsis
      //
      //     > .checkbox
      //       margin-left: auto

      > .locations
        > .location
          display: flex
          padding: 8px
          cursor: pointer
          height: 40px

          &:hover
            background: getColor('$tertiary100')

          > .icon
            margin-right: 16px

          > .content
            flex1()
            height: 100%
            display: flex
            align-items: center
            border-bottom: 1px solid getColor('$bgText12')
            overflow: hidden

            > .text
              font-subtitle1()
              overflow: hidden
              text-overflow: ellipsis
              white-space: nowrap

            > .locality
              margin-left: 8px
              color: getColor('$bgText54')
              overflow: hidden
              text-overflow: ellipsis
              white-space: nowrap

            > .open
              margin-left: 16px

  @media (min-width: $breakPointMedium)
    > .overlay > .overlay-inner > .data-types > .g-grid > .g-cols > .g-col > .type
      > .checkbox
        margin-left: 8px

    > .overlay
      padding-bottom: 0 // get rid of bottom bar padding
