@require '../../vars'

.z-places-search
  // position: absolute
  // width: 100%
  // height: 100%

  > .input-container
    pointer-events: all
    padding: 8px
    background: getColor('$tertiary500')

    > .input
      position: relative
      z-index: 99 // needs to be less than 100 (place page overlay is 100)

  &.is-open
    > .overlay
      opacity: 1
      pointer-events: all

  > .overlay
    position: absolute
    z-index: 98
    pointer-events: none
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: getColor('$bg500')
    opacity: 0
    padding: 8px
    padding-top: 56px
    box-sizing: border-box
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)

    > .done
      margin-top: 16px

    > .locations, > .data-types
      shadow-1()
      background: getColor('$tertiary100')
      border-radius: 2px
      padding: 8px
      margin-top: 8px

      > .title
        font-caption2()
        padding: 0 8px
        margin-bottom: 8px

    > .data-types > .g-grid > .g-cols > .g-col
      > .type
        display: flex
        align-items: center
        padding: 0 8px
        cursor: pointer

        > .name
          font-caption1()
          margin-left: 8px

    > .locations
      > .location
        display: flex
        padding: 8px
        cursor: pointer

        &:hover
          background: getColor('$bg500')

        > .locality
          margin-left: 8px
          color: getColor('$bgText54')
