@require '../../vars'

.z-heads-up
  position: fixed
  pointer-events: none
  z-index: $zIndexHeadsUp
  top: 16px
  left: 0
  width: 100%
  max-width: 100%
  padding: 0 16px
  box-sizing: border-box
  text-align: center
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1)
  transform: translate(0, -100px)

  &.is-visible
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1)
    transform: translate(0, 0)

  > .inner
    shadow-2()
    display: inline-block
    border-radius: 24px
    background: getColor('$tertiary900Text')
    pointer-events: auto
    max-width: 100%

    > .flex
      display: flex
      max-width: 100%

      > .icon
        background: getColor('$primary500')
        margin: 2px 16px 2px 2px
        border-radius: 50%

      > .content
        padding: 6px 24px 6px 0
        text-align: left
        flex: 1

        > .title
          font-body1()
          color: getColor('$tertiary900')
          white-space: nowrap
          text-overflow: ellipsis
          overflow: hidden
          margin-bottom: 4px

        > .details
          font-caption1()
          color: getColor('$tertiary500')
