@require '../../vars'

$zIndexImagePreviewOverlay = 1
$zIndexImagePreviewFab = 2
$zIndexImagePreviewClose = 2

.z-upload-image-preview
  background: getColor('$grey900')
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  position: fixed
  top: 0
  left: 0
  z-index: 9999

  &:after
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 96px
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), getColor('$black'))
    z-index: $zIndexImagePreviewOverlay

  > img
    margin: auto
    max-width: 100%

  > .fab
    position: absolute
    z-index: $zIndexImagePreviewFab
    bottom: 16px
    left: 50%
    margin-left: -28px

  > .close
    position: absolute
    z-index: $zIndexImagePreviewClose
    left: 0
    bottom: 16px
