

@require '../../vars'

.z-group-manage-member
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .content
    display: flex
    flex-direction: column

    > .info
      background: getColor('$tertiary700')
      padding: 16px

    > .g-grid
        > .row
          padding: 16px
          display: flex

          > .button
            margin-left: 8px

          > .roles
            > .role
              display: inline-block
              margin-right: 4px
              background: getColor('$tertiary500')
              padding: 4px
              cursor: pointer

        > .xp
          padding: 16px

          > .add-xp
            display: flex
