@require '../../vars'

.z-input
  font-body1(true, medium)
  appearance: none
  min-height: 48px
  display: block
  outline: none
  text-align: inherit
  position: relative
  border-radius: 4px

  > .hint
    pointer-events: none
    position: absolute
    background: transparent
    transform: translate(0, 16px)
    color: getColor('$bgText54')
    width: 100%

    transform-origin: 0% 0%
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
                font-size 0.2s cubic-bezier(0.4, 0, 0.2, 1)

  > .input
    padding: 8px 0 8px 0
    width: 100%
    height: 48px
    box-sizing: border-box

    font: inherit
    color: inherit
    background-color: transparent
    border: none
    outline: none
    -webkit-tap-highlight-color: transparent


    // rm chrome autofill styles
    &:-internal-autofill-selected
      background-color: transparent !important


  > .underline-wrapper
    position: absolute
    bottom: 0
    height: 1px
    width: 100%
    box-sizing: border-box

    > .underline
      width: 100%
      height: 1px
      background: getColor('$bgText54')

  > .error
    font-caption()
    color: getColor('$red500')
    margin-top: -3px
    position: absolute
    pointer-events: none
    background: transparent
    width: 100%

  &.is-centered
    > .input
      text-align: center

  &.is-centered&.is-floating&.is-focused, &.is-centered&.is-floating&.has-value
    > .hint
      transform: translate(0, 8px)

  &.is-dark
    color: getColor('$bgText')

  &.is-floating
    min-height: 48px

    > .hint
      font-body1(true, medium)
      color: getColor('$bgText54')
      // transform: translate(16px, 16px)
      transform: translate(0, 16px)

    > .input
      // padding: 16px 16px 0 16px
      padding: 16px 0 0 0
      height: 48px

    > .underline-wrapper
      padding: 0 1px

  &.is-floating&.is-focused, &.is-floating&.has-value
    > .hint
      font-size: 12px
      // transform: translate(16px, 6px)
      transform: translate(0, 0)
      display: block
      color: getColor('$bgText87')

  &:not(.is-floating)&.has-value
    > .hint
      display: none

  &.is-focused
    > .underline-wrapper > .underline
      background: getColor('$primaryMain')

  &.is-error
    > .underline-wrapper > .underline
      background: getColor('$red500')

  &.is-disabled
    > .underline-wrapper > .underline
      background: none
      border-bottom: 1px dashed getColor('$grey600')
