@require '../../vars'

.z-review
  > .rating
    margin-bottom: 4px

  > .title
    font-subtitle1()
    margin-bottom: 2px

  > .body
    font-body2(false, medium)
    // font-size: 14px
    position: relative
    z-index: 2
    padding-right: 16px
    // margin-top: 6px
    overflow: hidden

  > .attachments
    margin: 12px 0

  > .points
    display: flex
    align-items: center
    justify-content: flex-end
    margin-top: 16px

    > .icon
      margin: 0 8px
