@require '../../vars'

.z-review
  > .title
    font-subtitle2()
    margin-bottom: 8px

  > .body
    font-body2(false, medium)
    // font-size: 14px
    position: relative
    z-index: 2
    padding-right: 16px
    // margin-top: 6px
    overflow: hidden

  > .attachments
    margin: 8px 0

  > .points
    display: flex
    align-items: center
    justify-content: flex-end
    margin-left: 8px

    > .icon
      margin: 0 8px
