@require '../../vars'

.z-place-attachments
  padding: 16px

  > .g-grid
    > .g-cols
      > .g-col
        > .attachment
          cursor: pointer

          > .image
            background-size: cover
            padding-bottom: 100%
