@require '../../vars'

.z-review-thanks-dialog_dialog
  background: getColor('$tertiary0')
  padding: 16px
  border-radius: 4px

  > .image
    height: 114px
    width: 160px
    background: url($cdnUrl + '/review_thanks.svg')
    background-size: 100%
    margin: 0 auto 24px auto

  > .title
    font-subtitle1()
    color: getColor('$primaryMain')
    text-align: center
    margin-bottom: 12px

  > .description
    font-body1()

  > .button
    display: flex
    margin-top: 24px
