@require '../../vars'

.z-campground-info
  padding: 16px
  flex: 1
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .title
      font-title()

    > .g-cols
      > .g-col
        > .title
          font-title()
          margin-bottom: 8px
