@require '../../vars'

.z-campground-info
  padding: 16px
  flex: 1
  overflow: auto
  -webkit-overflow-scrolling: touch

  &.is-loading
    > .g-grid
      display: none

    > .spinner
      display: block

  > .spinner
    display: none

  > .g-grid

    > .driving-instructions
      margin-bottom: 8px
      > .title
        font-title()

    > .location
      font-body1()
      margin-bottom: 4px

    > .rating
      margin-bottom: 16px

    > .g-cols
      > .g-col
        > .title
          font-title()
          margin-bottom: 8px
