@require '../../vars'

.z-profile-review
  display: flex
  width: 100%
  box-sizing: border-box
  overflow: hidden
  position: relative

  > .thumbnail
    margin-right: 16px
    cursor: pointer
    position: relative

    > .img
      max-width: 100%

  > .content
    flex1()
    min-width: 0 // fix

    > .name
      font-subtitle1()
      color: getColor('$primaryMain')
