.p-login-link
  padding: 16px
  display: flex
  justify-content: center
  flex-direction: column

  > .loading
    zp-font-subtitle1()
    text-align: center
    margin-top: 16px

  > .stuck
    display: block
    margin-top: 16px
    text-align: center
