@require '../../vars'

.z-place-nearby
  flex1()
  display: flex
  min-width: 0
  flex-direction: column

  > .map
    flex1()
    display: flex
    position: relative

    > .toggle-cell-towers
      font-caption()
      cursor: pointer
      position: absolute
      top: 8px
      left: 8px
      z-index: 100
      background: getColor('$tertiary0')
      padding: 0 4px
      border-radius: 2px


  > .place-list
    flex1()
    display: flex

    > .z-place-list // HACK
      padding-top: 16px

  > .fab
    position: fixed
    bottom: 16px
    right: 16px
    z-index: 50
