@require '../../vars'

.z-button
  min-height: 36px
  min-width: 48px
  max-width: 100%
  box-sizing: border-box
  display: inline-block
  position: relative
  background: transparent
  text-align: center
  outline: none
  user-select: none
  cursor: pointer
  -webkit-tap-highlight-color: transparent

  > .button
    font-button()
    line-height: 1em
    display: flex
    align-items: center
    justify-content: center
    position: relative
    box-sizing: border-box
    vertical-align: middle
    padding: 16px
    min-height: 36px
    min-width: 64px
    max-width: 100%
    // line-height: 36px
    background: transparent
    text-align: center
    outline: none
    border-radius: 4px
    user-select: none
    cursor: pointer
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    border: none
    -webkit-tap-highlight-color: transparent

    > .icon
      margin-right: 12px

  &.is-disabled
    cursor: default
    pointer-events: none

    > .button
      cursor: default
      pointer-events: none

    &.allow-disabled-click
      pointer-events: all

      > .button
        pointer-events: all

  &.is-raised
    > .button
      shadow-1()

      &:active
        shadow-2()

  &.is-raised&.is-dark
    > .button
      color: getColor('$primary500Text')

  &.is-raised&.is-disabled
    > .button
      box-shadow: none
      background: getColor('$tertiary054')
      color: getColor('$bgText')

  &.is-raised&.is-dark&.is-disabled
    > .button
        background: getColor('$tertiary054')
        color: getColor('$tertiary200Text')

  &.is-full-width
    width: 100%

    > .button
      width: 100%

  &.is-short
    > .button
      min-width: 48px

  &.is-flat&.is-dark
    > .button
      color: getColor('$bgText')

  &.is-flat&.is-disabled
    > .button
      color: getColor('$tertiary200Text')

  &.is-flat&.is-dark&.is-disabled
    > .button
      color: getColor('$tertiary200Text')
