@require '../../vars'

.z-group-role-permissions
  flex: 1
  display: flex
  flex-direction: column
  padding: 16px 16px 92px 16px // padding-bottom for fab

  > .g-grid
    > .title
      font-subhead()
      color: getColor('$primary500')
      padding: 14px 0

    > .label
      font-title()
      display: flex
      align-items: center

      > .dropdown
        margin-left: 8px

    > .list
      margin: 0
      padding: 0
      list-style-type: none
      max-width: 800px
      margin-top: 16px

      > .item
        background: getColor('$tertiary500')
        display: flex
        align-items: center
        padding: 16px
        margin-bottom: 2px

        > .icon
          margin-right: 30px

        > .text
          font-body1()
          color: getColor('$tertiary900Text')

        > .toggle
          margin-left: auto

    > .delete-button
      display: inline-block
      margin-top: 16px

    > .actions
      display: flex
      justify-content: flex-end
      margin-top: 16px
      max-width: 800px

      > .save-button
        margin-left: 8px
