@require '../../vars'

.z-share-map-dialog_dialog
  > .content
    > .preview
      width: 100%

    > .actions
      > .action
        cursor: pointer
        display: block
        padding: 8px
        border-radius: 8px
        background: getColor('$tertiary100')
        border: 1px solid getColor('$bgText12')
        margin-bottom: 8px
