

@require '../../vars'

.z-new-thread
  flex: 1
  width: 100%
  display: flex
  flex-direction: column

.z-new-thread_head
  padding: 16px

  > .clan
    display: flex
    align-items: center

    > .badge
      margin-right: 16px

    > .info
      > .name
        font-h1()

      > .tag
        font-caption2()
        margin-top: 2px
