@require '../../vars'

.z-profile
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  &.is-image-loaded
    > .header > .cover
      opacity: 1
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)

  > .header
    width: 100%
    height: 180px
    padding: 8px 16px
    box-sizing: border-box
    position: relative

    > .cover
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background-color: #94c1e2 // ocean blue color from map
      background-size: auto 100%
      background-repeat: no-repeat
      background-position: center
      opacity: 0
      z-index: 0

    > .menu
      display: inline-block

    > .buttons
      position: absolute
      top: 8px
      right: 8px
      display: flex

    > .avatar
      position: absolute
      left: 50%
      margin-left: -44px // 1/2 of width + border
      bottom: -44px
      border-radius: 50%
      border: 4px solid getColor('$tertiary0')

  > .info
    shadow-1()
    background: getColor('$tertiary0')
    padding-bottom: 16px

    > .g-grid
      > .karma
        font-caption3()
        padding: 16px
        display: flex
        align-items: center

        > .icon
          margin-right: 8px

      > .name, > .bio
        text-align: center

        &.name
          font-h3()
          margin-bottom: 4px
          display: flex
          align-items: center
          justify-content: center

          > .icon
            margin-left: 4px

        &.bio
          font-body2()

      > .actions
        display: flex
        padding: 0 16px
        margin-top: 16px

        > .action
          flex1()

      > .links
        display: flex
        margin-top: 16px
        justify-content: center
        height: 32px

        > .link
          margin: 0 16px

        > .divider
          width: 1px
          height: 100%
          background: getColor('$bgText26')
          margin: 0 8px

      > .boxes
        padding: 16px
        box-sizing: border-box
        margin-top: 8px

        > .info-card
          margin-bottom: 16px

        > .g-grid > .g-cols > .g-col
          .box
            font-title()
            display: block
            height: 76px
            padding: 12px
            box-sizing: border-box
            border-radius: 4px
            display: flex
            align-items: center

            &.reviews
              background-color: getColor('$salmon500')
              background-image: url($cdnUrl + '/patterns/profile_rust.png')
              color: getColor('$salmon500Text')

            &.check-ins
              background-color: getColor('$pacific500')
              background-image: url($cdnUrl + '/patterns/profile_blue.png')
              color: getColor('$pacific500Text')

            &.planned
              background-color: getColor('$mustard500')
              background-image: url($cdnUrl + '/patterns/profile_yellow.png')
              color: getColor('$mustard500Text')

            &.photos
              background-color: getColor('$orange500')
              color: getColor('$white')

            > .info
              > .count, > .title
                color: inherit

            > .chevron
              margin-left: auto
