

@require '../../vars'

.z-form
  display: flex
  flex-direction: column
  flex1()

  > .input-spacer
    height: 16px
    flex1()

  > .spacer
    height: 56px

  > .buttons
    > .button
      margin-top: 16px
