@require '../../vars'

.z-trip-itinerary
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch
  position: relative

  > .g-grid
    > .check-ins
      padding: 0 16px
      margin-top: 24px
      position: relative

      > .divider
        position: absolute
        top: 4px
        bottom: 122px - 4px // height of check-in
        left: 16px + 5px // padding + 1/2 circle
        width: 2px
        background: getColor('$secondary500')

      > .placeholder
        text-align: center

        > .icon
          width: 145px
          height: 124px
          background-image: url($cdnUrl + '/empty_state/trip_empty.svg')
          background-size: 100%
          margin: 48px auto 0 auto

        > .title
          font-title()
          margin-top: 16px
          color: getColor('$primary500')

        > .description
          font-body2()
          margin-top: 8px

      > .check-in
        display: flex
        align-items: flex-start
        cursor: pointer
        min-height: 122px
        position: relative

        > .dot
          flex-shrink: 0
          width: 12px
          height: 12px
          margin-top: 4px
          border-radius: 50%
          background: getColor('$secondary500')
          position: relative
          z-index: 1

        > .info
          flex1()
          margin-left: 16px
          margin-bottom: 16px

          > .dates
            display: flex

            > .date
              font-caption1()

          > .place-list-item
            margin-top: 8px

          > .route
            margin-top: 8px

            > .header
              display: flex

              > .plan-route
                font-title()
                display: flex

              > .travel-time
                font-caption3()
                margin-left: auto
                display: flex
                align-items: center

                > .icon
                  margin-right: 6px

            > .content
              padding: 16px 0
              display: none

              &.is-visible
                display: block

              > .stops
                > .stop
                  padding: 16px 0
                  position: relative

                  > .delete
                    position: absolute
                    top: 8px
                    right: 0


              > .actions
                display: flex

                > .action
                  flex: 1
                  margin-right: 16px

                  &:last-child
                    margin-right: 0


        > .actions
          margin-left: auto

  @media (min-width: $breakPointMedium)
    position: relative
