@require '../../vars'

.z-trip-list
  > .placeholder
    text-align: center

    > .icon
      width: 145px
      height: 124px
      background-size: 100%
      margin: 48px auto 0 auto

    > .title
      font-subtitle1()
      margin-top: 16px
      color: getColor('$primaryMain')

    > .description
      font-body1(true, medium)
      margin-top: 8px
