@require '../../vars'

.z-trip-list
  > .placeholder
    text-align: center

    > .icon
      background-size: 100%
      margin: 48px auto 0 auto
      background-image: url($cdnUrl + '/illustrations/empty_state_trips.svg?11')
      width: 320px
      height: 150px

    > .title
      font-subtitle1()
      margin-top: 16px
      color: getColor('$primaryMain')

    > .description
      font-body1(true, medium)
      margin-top: 8px
