@require '../../vars'

.z-place-new-review-extras
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid, > .g-grid > .g-grid > .g-cols > .g-col
    > .field
      padding: 16px
      display: block

      > .name
        font-title()
        margin-bottom: 4px

    > .cell
      > .carriers
        > .carrier
          margin-bottom: 16px

          > .bars
            margin: 16px 0

          > .lte
            display: flex
            align-items: center

            > .checkbox
              margin-right: 8px

        > .add-carrier
          margin-left: 32px

    > .when
      > .seasons
        display: flex
        background: getColor('$tertiary100')
        border: 1px solid getColor('$bg700')
        border-radius: 4px

        > .season
          cursor: pointer
          flex1()
          text-align: center
          padding: 4px 0

          &.is-selected
            background: getColor('$tertiary500')
            font-title()

  @media (min-width: $breakPointLarge)
    > .g-grid
      > .cell
        > .carriers
          display: flex
          align-items: center

          > .carrier
            margin-bottom: 0
            margin-right: 16px
