@require '../../vars'

.z-place-new-review-extras
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid, > .g-grid > .g-grid > .g-cols > .g-col
    > .field
      padding: 16px
      display: block

      > .name
        font-micro()
        margin-bottom: 4px

    > .cell
      > .carriers
        display: flex
        align-items: center
        overflow-x: auto

        > .carrier
          margin-bottom: 0
          margin-right: 24px

          > .name
            text-align: center
            color: getColor('$secondaryMain')
            margin: 8px 0

          > .bars
            margin: 8px 0

          > .lte
            display: flex
            align-items: center

            > .checkbox
              margin-right: 8px

        > .add-carrier
          margin-left: 32px

    > .when
      > .seasons
        display: flex

        > .season
          flex1()
          font-subtitle1()
          color: getColor('$white')
          cursor: pointer
          text-align: center
          padding: 16px
          border-radius: 8px
          background: #aaa
          border: 6px solid getColor('$tertiary0')

          &.spring
            background: url($cdnUrl + '/patterns/green.png')

          &.summer
            background: url($cdnUrl + '/patterns/yellow.png')

          &.fall
            background: url($cdnUrl + '/patterns/orange.png')

          &.winter
            background: url($cdnUrl + '/patterns/blue.png')

          &.is-selected
            border: 6px solid getColor('$bgText26')
            position: relative

            &:before
              content: ''
              position: absolute
              z-index: 1
              top: -4px
              left: -4px
              right: -4px
              bottom: -4px
              border: 4px solid getColor('$tertiary0')
              border-radius: 6px
