@require '../../vars'

.z-donate-box
  font-body1(false)

  > .donation-box

    > .thanks
      padding: 36px

      > .icon
        margin-bottom: 16px

      > .title
        font-h5()
        color: getColor('$primaryMain')
        text-align: center
        margin-bottom: 8px

  > .tap-tabs
    border: 1px solid getColor('$primaryMain')
    border-radius: 4px
    display: flex
    max-width: 380px
    margin-bottom: 20px

    > .tab
      font-subtitle1()
      flex1()
      cursor: pointer
      padding: 12px
      text-align: center
      text-transform: uppercase

      &:first-child
        border-top-left-radius: 4px
        border-bottom-left-radius: 4px

      &:last-child
        border-top-right-radius: 4px
        border-bottom-right-radius: 4px

      &.is-selected
        background: getColor('$primaryMain')
        color: getColor('$primaryMainText')

  > .donation-box
    border: 1px solid getColor('$tertiary300')
    border-radius: 4px

    > .title
      font-subtitle1(false)
      padding: 20px
      text-align: center

      > .edit
        color: getColor('$primaryMain')
        margin-left: 4px
        cursor: pointer

    > .content
      background: getColor('$tertiary0')
      border-bottom-left-radius: 4px
      border-bottom-right-radius: 4px
      padding: 20px

      > .amounts
        margin-bottom: 20px

        > .amounts-line
          display: flex
          margin-bottom: 16px

          &:last-child
            margin-bottom: 0

          > .amount
            font-subtitle1(false, medium)
            flex1()
            padding: 16px 24px
            text-align: center
            background: getColor('$tertiary200')
            border-radius: 4px
            margin: 0 8px
            cursor: pointer

            &.input
              appearance: none
              outline: none
              border: none

              &::placeholder
                font-subtitle1(false, medium)
                opacity: 1


            &.is-selected
              background: getColor('$primaryMain')
              color: getColor('$primaryMainText')

              &.input::placeholder
                color: getColor('$primaryMainText')

      > .stripe-form
        margin-top: -8px

      > .donate-button
        margin-top: 20px

  @media (min-width: $breakPointMedium)
    > .donation-box
      max-width: 380px
