@require '../../vars'

.z-item-guide
  padding: 8px 16px
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid

    > .what, .why
      margin-bottom: 16px

      > .title
        font-title()
        margin-bottom: 8px

    > .title
      font-title()
      margin-bottom: 8px
