@require '../../vars'

.z-places-list
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid

    > .place
      padding: 8px 16px
      display: flex
      align-items: center
      min-width: 0

      > .info
        flex1()

        > .name
          font-title()

        > .amenities
          whitespace: nowrap
          // overflow-x: auto
          // -webkit-overflow-scrolling: touch

          > .amenity
            font-caption3()
            display: inline-block
            // display: flex
            margin-right: 4px
            padding: 0 8px
            height: 20px
            box-sizing: border-box
            border-radius: 10px

            > .icon
              margin-right: 8px
              display: inline-block

            > .name
              display: inline-block

      > .actions
        display: flex
        margin-left: auto
