

@require '../../vars'

.z-offline-overlay
  font-title()
  z-index: 9999999
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.75)
  color: getColor('$white')
  text-align: center
  padding: 40px
  box-sizing: border-box

  > .close-button
    margin-top: 20px
