@require '../../vars'

.z-edit-trip-choose-route
  flex1()
  display: flex
  position: relative

  > .routes
    position: absolute
    bottom: 8px
    left: 8px
    right: 8px
    background: getColor('$tertiary0')
