@require '../../vars'

.z-author
  font-caption(no)
  color: getColor('$bgText54')
  display: flex
  align-items: center
  cursor: pointer

  > .icon
    margin-right: 8px

  > .name
    font-subtitle2()
    color: getColor('$bgText')

  > .icons
    display: flex
    align-items: center
    margin-left: 12px

    > .icon
      margin-right: 4px

    > .text
      margin-right: 4px

  > .time
    margin-left: auto

    &.is-aligned-left
      margin-left: 8px

  > .middot
    margin-left: 4px
    margin-right: 4px

  @media (min-width: $breakPointMedium)
    > .time
      margin-left: 8px
