@require '../../vars'

.z-new-place-initial-info
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .field
      padding: 16px
      display: block

      > .name
        font-body1()
        color: getColor('$primary500')

      > .videos
        margin-top: 16px

        > .video
          display: flex
          align-items: center

          > .remove
            margin-left: 8px

    > .where
      > .form
        > .button
          margin-bottom: 8px

        > .or
          text-align: center
          margin: 8px 0

    @media (min-width: $breakPointMedium)
      > .where
        > .form
          display: flex
          align-items: center

          > .button
            margin-right: 8px

          > .input
            flex1()
            max-width: 360px

          > .or
            margin: 0 16px
