@require '../../vars'

.z-new-mvum
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .saved
      padding: 16px
      font-title()

    > .notes
      padding: 16px
      font-caption1()

    > .field
      padding: 16px
      display: block

      > .name
        font-body1()
        margin-bottom: 4px

    > .actions
      max-width: 200px
      padding: 16px
      margin-top: 24px
