@require '../../vars'

.z-edit-trip-navigate-elevation
  flex1()

  > .elevations
    display: flex
    padding: 16px 16px 0 16px

    > .main, > .alt
      display: flex
      align-items: center

      &.alt
        margin-left: auto

      > .icon
        margin-right: 4px

      > .text
        font-caption2()
        margin-right: 16px
