@require '../../vars'

.z-user-list
  width: 100%

  > .user
    background: getColor('$tertiary0')
    display: flex
    align-items: center
    padding: 16px
    cursor: pointer

    > .avatar
      margin-right: 16px

    > .info
      // flex1()

      > .name
        font-title()
        color: getColor('$tertiary900Text')

    > .right
      font-caption3()
      margin-left: auto
      display: flex
      align-items: center

      > .icon
        margin-right: 8px
