@require '../../vars'

.z-user-list
  width: 100%

  > .user
    background: getColor('$tertiary0')
    display: flex
    padding: 16px
    cursor: pointer

    > .avatar
      margin-right: 16px

    > .info
      // flex1()
      margin: auto 0

      > .username
        font-subtitle1()
        color: getColor('$tertiary900Text')

      > .actions
        display: flex
        margin-top: 8px

        > .action
          margin-right: 8px

    > .right
      font-caption(true, disabled)
      margin-left: auto
      display: flex
      align-items: center

      > .icon
        margin-right: 8px
