@require '../../vars'

.z-primary-input
  position: relative
  max-width: 360px

  &.is-full-width
    max-width: none

  > .make-visible
    position: absolute
    right: 8px
    top: 4px

  .z-input
    font-input()
