@require '../../vars'

.z-notifications-overlay
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  padding-top: 56px
  padding-bottom: 100px
  box-sizing: border-box
  display: flex
  flex-direction: column
  align-items: flex-end
  z-index: $zIndexNotificationsOverlay
  background: getColor('$black54')

  &.is-empty
    > .content
      display: flex
      flex-direction: column

  > .content
    flex1()
    background: getColor('$tertiary500')
    overflow: auto
    -webkit-overflow-scrolling: touch
    width: 100%
    max-width: 400px
    shadow-1()

    > .empty
      padding: 16px
      margin: auto

      > .icon
        margin-bottom: 16px

    > .notification
      background: getColor('$tertiary700')
      padding: 16px
      margin-bottom: 4px
      display: flex
      cursor: pointer

      > .content
        margin-right: 8px

        > .title
          font-title()

      > .time
        font-caption3()
        margin-left: auto
