@require '../../vars'

.z-edit-trip-tooltip
  tooltip()

  > .content

    > .actions
      display: flex

      > .action
        margin: 0 8px
        text-align: center
        cursor: pointer

        > .icon
          margin-bottom: 2px

        > .text
          font-caption2()
