@require '../../vars'

.z-slide-step
  width: 100%
  box-sizing: border-box
  display: flex
  flex-direction: column

  &.is-primary
    background: getColor('$primary500')
    color: getColor('$primary500Text')

    > .screenshot-block
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), getColor('$primary600'))

  &.is-secondary
    background: getColor('$secondary500')
    color: getColor('$secondary500Text')

    > .screenshot-block
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), getColor('$secondary600'))

  &.is-tertiary
    background: getColor('$tertiary500')
    color: getColor('$tertiary500Text')

    > .screenshot-block
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), getColor('$tertiary600'))

  > .screenshot-block
    display: flex
    align-items: flex-end

  > .info-block
    display: flex

  @media (min-width: $breakPointMedium)
    flex-direction: row

    &.is-primary
      > .screenshot-block
        background: linear-gradient(to right, rgba(0, 0, 0, 0), getColor('$primary600'))

    &.is-secondary
      > .screenshot-block
        background: linear-gradient(to right, rgba(0, 0, 0, 0), getColor('$secondary600'))

    &.is-tertiary
      > .screenshot-block
        background: linear-gradient(to right, rgba(0, 0, 0, 0), getColor('$tertiary600'))


    > .screenshot-block, .info-block
      width: 50%
      height: auto
