@require '../../vars'

.z-place-list-item
  display: flex
  align-items: center

  > .thumbnail
    width: 100px
    height: 78px
    background-size: 100%
    margin-right: 16px
    border-radius: 4px

  > .info
    flex1()
    min-width: 0

    > .name
      font-title()

    > .caption
      font-caption2()
