@require '../../vars'

.z-check-in-tooltip
  tooltip()
  display: flex
  align-items: center
  padding-right: 24px

  > .content
    > .title
      padding-right: 0
      margin-bottom: 0

  > .actions
    display: flex

    > .action
      margin: 0 8px
      text-align: center
      cursor: pointer

      > .icon
        margin-bottom: 2px

      > .text
        font-caption2()
