@require '../../vars'

.z-profile-boxes
  padding: 16px
  box-sizing: border-box
  margin-top: 8px

  > .info-card
    margin-bottom: 16px

  > .g-grid > .g-cols > .g-col
    .box
      font-subtitle1()
      display: block
      height: 76px
      padding: 12px
      box-sizing: border-box
      border-radius: 4px
      display: flex
      align-items: center

      &.reviews
        background-color: getColor('$salmon500')
        background-image: url($cdnUrl + '/patterns/profile_rust.png')
        color: getColor('$salmon500Text')

      &.check-ins
        background-color: getColor('$pacific500')
        background-image: url($cdnUrl + '/patterns/profile_blue.png')
        color: getColor('$pacific500Text')

      &.planned
        background-color: getColor('$mustard500')
        background-image: url($cdnUrl + '/patterns/profile_yellow.png')
        color: getColor('$mustard500Text')

      &.photos
        background-color: getColor('$orange500')
        color: getColor('$white')

      > .info
        > .count, > .title
          color: inherit

      > .chevron
        margin-left: auto
