@require '../../vars'

.z-reviews
  flex1()
  padding: 0 16px 64px 16px
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .search
      margin-bottom: 16px

    > .reviews
      > .review
        padding: 16px 0
        border-bottom: 1px solid getColor('$bgText12')
