@require '../../vars'

.z-reviews
  padding: 16px
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .search
      margin-bottom: 16px

    > .reviews
      > .empty
        > .add-review
          margin-top: 8px

      > .review
        margin-bottom: 16px
