@require '../../vars'

.z-reviews
  padding: 16px
  flex: 1
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .search
      margin-bottom: 16px

    > .reviews
      > .review
        margin-bottom: 8px
