@require '../../vars'

.z-product-box
  display: block
  padding: 16px

  > .image
    width: 200px
    height: 200px
    margin: 0 auto
    max-width: 100%
    background-size: 100%
    background-repeat: no-repeat
    background-position: center center
