@require '../../vars'

.z-trip-list-item
  card()
  display: block
  border-radius: 4px
  height: 112px

  > .g-grid
    display: flex

    > .image
      width: 112px
      height: 112px
      border-radius: 4px
      background-size: cover
      flex-shrink: 0

    > .content
      padding: 0 16px
      margin: auto 0

      > .name
        font-subtitle1(false)
        margin-bottom: 2px

      > .info
        font-body1(false, medium)(false)

      > .stats
        font-caption(false)
        color: getColor('$primaryMain')
        margin-top: 8px

    > .selected
      margin: auto 20px auto auto
      border: 2px solid getColor('$secondaryMain')
      border-radius: 50%
      width: 50px
      height: 50px
