@require '../../vars'

.z-attachments
  > .g-grid
    > .g-cols
      > .g-col
        > .attachment
          cursor: pointer

          > .image
            background-size: cover
            padding-bottom: 100%
