@require '../../vars'

.z-location-search
  // position: absolute
  // width: 100%
  // height: 100%

  > .input-container
    pointer-events: all
    padding: 8px
    background: getColor('$tertiary500')
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1)

    > .input
      position: relative
      z-index: 99 // needs to be less than 100 (place page overlay is 100)

  &.is-open
    > .overlay
      opacity: 1
      pointer-events: all

  > .overlay
    position: absolute
    z-index: 98
    pointer-events: none
    top: 0
    left: 0
    bottom: 0
    width: 100%
    padding-bottom: 62px // hack to cover bottom bar
    background: getColor('$bg500')
    opacity: 0
    overflow: auto
    -webkit-overflow-scrolling: touch
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)

    > .overlay-inner
      padding: 8px
      padding-top: 56px

      > .done
        margin-top: 16px

      > .locations, > .data-types
        shadow-1()
        background: getColor('$tertiary100')
        border-radius: 2px
        padding: 8px
        margin-top: 8px

        > .title
          font-caption2()
          padding: 0 8px
          margin-bottom: 8px

      > .data-types > .g-grid > .g-cols > .g-col
        > .type
          display: flex
          align-items: flex-start
          padding: 0 8px
          cursor: pointer

          > .info
            margin-left: 8px

            > .name
              font-body1()

            > .description
              font-caption2()
              white-space: nowrap
              overflow: hidden
              text-overflow: ellipsis

      > .locations
        > .location
          display: flex
          padding: 8px
          cursor: pointer

          &:hover
            background: getColor('$bg500')

          > .locality
            margin-left: 8px
            color: getColor('$bgText54')

  @media (min-width: $contentMaxWidth)
    > .overlay
      padding-bottom: 0 // get rid of bottom bar padding
