@require '../../vars'

.z-ui-card
  font-body1()
  shadow-1()
  padding: 24px 24px 8px 24px
  border-radius: 4px
  background: getColor('$tertiary0')
  position: relative

  &.is-highlighted
    background: getColor('$primaryMain')

  > .title
    font-subtitle1()
    color: getColor('$primaryMain')
    margin-bottom: 8px

  > .buttons
    display: flex
    justify-content: flex-end
    margin-top: 8px
