@require '../../vars'

.z-place-review
  width: 100%
  box-sizing: border-box
  overflow: hidden
  position: relative

  > .top-info
    display: flex
    align-items: center
    margin-bottom: 8px

    > .avatar
      margin-right: 16px
      cursor: pointer
      position: relative

    > .author
      flex1()
