@require '../../vars'

.z-place-info
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  &.is-image-loaded
    > .cover
      opacity: 1
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)

  > .cover
    width: 100%
    height: 200px
    background-size: cover // this might slow down browser a bit, could find alternative solution (might need to use js)
    background-position: center
    position: relative
    opacity: 0

    > .see-more
      font-caption1()
      position: absolute
      bottom: 16px
      right: 16px
      padding: 4px 8px
      border-radius: 4px
      background: getColor('$white70')
      color: getColor('$black')

  &.is-loading
    > .g-grid
      display: none

    > .spinner
      display: block

  > .spinner
    display: none

  > .g-grid
    padding: 16px
    box-sizing: border-box

    > .top-info
      display: flex
      margin-bottom: 16px

      > .left
        > .location
          font-body1()
          margin-bottom: 4px

      > .right
        margin-left: auto
        text-align: right

    > .is-overnight-allowed
      padding: 16px
      margin-bottom: 16px
      border-radius: 4px
      background: getColor('$yellow500')
      color: getColor('$yellow500Text')

      &.is-red
        background: getColor('$red500')
        color: getColor('$red500Text')

      &.is-green
        background: getColor('$green500')
        color: getColor('$green500Text')

    > .card
      margin-bottom: 16px

    > .amenity
      display: flex

      > .name
        margin-left: 8px

    > .driving-instructions, > .details
      margin-bottom: 8px

      > .title
        font-title()

    > .buttons
      display: flex
      margin-bottom: 16px

      > .button
        flex1()

    > .masonry
      margin: -4px -16px // account for padding in .section


    // TODO: move each section into own component, so we don't have to
    // do a broad selector like this (ie without >)
    .section
      padding: 4px 16px

      > .seasons
        display: flex
        background: getColor('$tertiary0')
        border: 1px solid getColor('$tertiary200')
        border-radius: 4px

        > .season
          cursor: pointer
          flex1()
          text-align: center
          padding: 4px 0

          &.is-selected
            background: getColor('$tertiary200')
            font-title()


      > .title
        font-title()
        margin-bottom: 8px

      > .graph
        width: 100%

      > .carriers
        white-space: nowrap
        overflow-x: auto

        > .carrier
          font-caption2()
          display: inline-block
          text-align: center
          margin-right: 16px

          &:last-child
            margin-right: 0

          > .name
            font-caption3()
            margin-top: 4px


  @media (min-width: $breakPointMedium)
    > .g-grid
      > .actions
        display: flex
        flex-direction: row-reverse

        > .action
          flex1()
