@require '../../vars'

.z-place-info
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  &.is-image-loaded
    > .cover
      opacity: 1
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)

  > .cover
    width: 100%
    height: 200px
    background-size: cover // this might slow down browser a bit, could find alternative solution (might need to use js)
    background-position: center
    position: relative
    opacity: 0

    > .see-more
      font-caption1()
      position: absolute
      bottom: 16px
      right: 16px
      padding: 4px 8px
      border-radius: 4px
      background: getColor('$white70')
      color: getColor('$black')

  &.is-loading
    > .g-grid
      display: none

    > .spinner
      display: block

  > .spinner
    display: none

  > .g-grid
    padding: 16px
    box-sizing: border-box

    > .driving-instructions
      margin-bottom: 8px
      > .title
        font-title()

    > .location
      font-body1()
      margin-bottom: 4px

    > .rating
      margin-bottom: 16px

    > .masonry
      margin: -4px -16px // account for padding in .section
    // TODO: move each section into own component, so we don't have to
    // do a broad selector like this (ie without >)
    .section
      padding: 4px 16px

      > .title
        font-title()
        margin-bottom: 8px

      > .graph
        width: 100%

      > .carriers
        display: flex

        > .carrier
          font-caption2()
          text-align: center
          margin-right: 16px

          > .bars
            padding: 5px 10px

          > .type
            font-caption3()
