@require '../../vars'

.z-place-info
  padding: 16px
  flex: 1
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .subhead
      font-subhead()

    > .g-cols
      > .g-col
        > .subhead
          font-subhead()
