@require '../../vars'

.z-place-sheet
  shadow-1()
  position: absolute
  display: block
  z-index: 99
  bottom: 8px
  left: 8px
  right: 8px
  opacity: 0
  pointer-events: none

  &.is-visible
    opacity: 1
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)

    > .sheet
      pointer-events: all

  > .sheet
    background: getColor('$tertiary0')
    border-radius: 4px
    max-width: 480px
    margin: 0 auto

    > .content
      padding: 16px
      display: flex

      > .left

        > .title
          font-h3(false)
          margin-bottom: 4px
          user-select: all

        > .elevation
          font-caption1(false)
          margin-bottom: 8px

        > .add-stop-info
          font-body2(false)

      > .right
        margin-left: auto
        text-align: right

        > .rating
          display: flex
          justify-content: flex-end

        > .rating-text
          font-caption1()

          > .rating-count
            font-caption2()

    > .buttons
      display: flex
      overflow: auto
      -webkit-overflow-scrolling: touch
      padding: 16px

      > .button
        // TODO: shared with map filter, make an fn for this?
        font-caption2(false)
        cursor: pointer
        display: inline-block
        background: getColor('$tertiary0')
        border: 1px solid getColor('$tertiary300')
        padding: 4px 12px
        border-radius: 16px
        margin: 0 4px
        position: relative
        flex-shrink: 0
        display: flex
        align-items: center

        &:hover
          border: 1px solid getColor('$tertiary500')

        &:active
          border: 1px solid getColor('$primary500')

        > .icon
          margin-right: 4px

        > .text
          font-subhead2(false)

    > .local-maps
      border-top: 1px solid getColor('$bgText12')
      width: 100%
      padding: 16px
      box-sizing: border-box

      > .local-map
        display: flex
        align-items: center

        > .toggle
          margin-left: auto
