@require '../../vars'

.z-place-sheet
  shadow-1()
  position: absolute
  display: block
  z-index: 97
  bottom: 8px
  left: 8px
  right: 8px
  opacity: 0
  pointer-events: none

  &.is-visible
    opacity: 1
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)

    > .sheet
      pointer-events: all
      cursor: pointer

  > .sheet
    background: getColor('$tertiary0')
    border-radius: 4px
    max-width: 480px
    margin: 0 auto
    padding-top: 16px

    > .attachments
      white-space: nowrap
      overflow-x: auto
      overflow-y: hidden
      height: 120px + 8px // 8px for horizontal scrollbar on desktop. otherwise creates vertical scrolling
      padding: 0 16px 0 16px

      > .attachment
        imageFadeIn()
        display: inline-block
        width: 120px
        height: 120px
        margin-right: 8px
        background-size: 100% auto

    > .content
      padding: 0 16px 0 16px
      display: flex

      > .left

        > .title
          font-subtitle1(false)
          margin-bottom: 4px
          user-select: text

        > .elevation
          font-caption(false)

        > .add-stop-info
          margin-top: 8px
          font-body1(false, medium)

      > .right
        margin-left: auto
        text-align: right

        > .rating
          display: flex
          justify-content: flex-end

        > .rating-text
          font-caption()

          > .rating-count
            font-caption()

    > .buttons
      display: flex
      overflow: auto
      -webkit-overflow-scrolling: touch
      padding: 12px 16px

      > .button
        // TODO: shared with map filter, make an fn for this?
        font-caption(false)
        cursor: pointer
        display: inline-block
        background: getColor('$tertiary0')
        border: 1px solid getColor('$tertiary300')
        padding: 6px 12px
        border-radius: 19px
        margin: 0 4px
        position: relative
        flex-shrink: 0
        display: flex
        align-items: center

        &:hover
          border: 1px solid getColor('$tertiary500')

        &:active
          border: 1px solid getColor('$primaryMain')

        > .icon
          margin-right: 10px

        > .text
          font-body2()

    > .local-maps
      border-top: 1px solid getColor('$bgText12')
      width: 100%
      padding: 8px 16px
      box-sizing: border-box

      > .local-map
        font-subtitle2()
        display: flex
        align-items: center
        padding: 8px 0

        > .toggle
          margin-left: auto
