@require '../../vars'

.z-seasonal-info-level
  > .seasons
    > .season
      display: inline-block
      margin-right: 4px

      &.is-selected
        font-title()
        text-decoration: underline
        text-decoration-color: getColor('$primary500')
