@require '../../vars'

.z-edit-trip-route-info-settings
  flex1()
  padding: 8px 16px 4px 16px

  > .field
    margin-bottom: 8px

    > .title
      font-subtitle1()
      margin-bottom: 4px

    > .content
      display: flex

      > .description
        font-caption()

      > .input
        margin-left: auto
