@require '../../vars'

@keyframes z-spinner_loading
  0%
    transform: scale(0.8)
    opacity: 0.5
  33%
    transform: scale(1)
    opacity: 1
  66%
    transform: scale(0.8)
    opacity: 0.5
  100%
    transform: scale(0.8)
    opacity: 0.5

.z-spinner
  list-style: none
  position: relative
  // top: 50%
  // left: 50%
  margin: auto
  // transform: translate(-50%, -50%)
  font-size: 0

  li
    position: absolute
    top: 50%
    left: 0
    margin: 0
    height: 50%
    width: 32%
    border-radius: 100%
    transform: transformZ(0)
    animation: z-spinner_loading 1.2s infinite
    // background: getColor('$primary500')

    &:nth-child(1n)
      left: -50%
      margin-left: 25%
      animation-delay: 0s

    &:nth-child(2n)
      left: 0
      animation-delay: -0.8s

    &:nth-child(3n)
      left: 50%
      animation-delay: -0.4s
