@require '../../vars'

.z-new-amenity
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .field
      padding: 16px
      display: block

      > .name
        font-body1()
        margin-bottom: 4px

    > .amenities
      > .amenity
        > .label
          display: flex
          align-items: center

          > .name
            margin-left: 8px

        > .price-input
          display: none
          width: 100px
          margin: 16px 0

          &.is-visible
            display: block
