@require '../../vars'

.z-place-info-action-box
  padding: 8px
  border: 1px solid getColor('$bgText12')
  border-radius: 4px
  margin-bottom: 16px

  > .actions
    display: flex
    height: 46px

    > .divider
      width: 1px
      height: 100%
      background: getColor('$bgText26')

    > .action
      flex1()
      text-align: center
      cursor: pointer
      display: flex
      flex-direction: column
      align-items: center

      > .icon
        margin-bottom: 2px

      > .text
        font-title()


> .masonry
  margin: -4px -16px // account for padding in .section
// TODO: move each section into own component, so we don't have to
// do a broad selector like this (ie without >)
.section
  padding: 4px 16px

  > .title
    font-title()
    margin-bottom: 8px

  > .graph
    width: 100%

  > .carriers
    white-space: nowrap
    overflow-x: auto

    > .carrier
      font-caption2()
      display: inline-block
      text-align: center
      margin-right: 16px

      > .bars
        padding: 5px 10px

      > .type
        font-caption3()
