@require '../../vars'

.z-place-info-action-box
  margin-bottom: 20px

  > .actions
    display: flex

    > .action
      flex1()
      text-align: center
      cursor: pointer
      display: flex
      flex-direction: column
      align-items: center

      > .icon
        margin-bottom: 2px
        border: 1px solid getColor('$primaryMain')
        border-radius: 50%
        padding: 8px

        &.is-filled
          background: getColor('$primaryMain')

      > .text
        font-body1()
        color: getColor('$primaryMain')
        margin-top: 4px
