@require '../../vars'

.z-trip-map
  flex1()
  display: flex
  position: relative

  > .places-along-route
    shadow-1()
    position: absolute
    top: 8px
    right: 8px
    background: getColor('$tertiary0')
    padding: 8px
    border-radius: 4px
    cursor: pointer
