@require '../../vars'

.z-attachments-list
  display: flex

  > .attachment
    width: 64px
    height: 64px
    margin-right: 8px
    background-size: cover
    background-position: center
    cursor: pointer
