@require '../../vars'

.z-trips-mine
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch
  padding: 24px 16px

  > .info-card
    margin-bottom: 24px

  > .create-button
    margin-bottom: 24px
