@require '../../vars'

$zIndexUploadOverlay = 1

.z-edit-profile
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .top
    width: 100%
    display: flex
    padding: 16px
    box-sizing: border-box
    background: getColor('$tertiary0')

    > .avatar
      margin: auto
      width: 90px
      height: 90px
      position: relative

      > .edit
        width: 28px
        height: 28px
        border-radius: 50%
        border: 2px solid getColor('$secondary500')
        position: absolute
        bottom: 0
        right: 0
        background: getColor('$tertiary50')


      > .upload-overlay
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: $zIndexUploadOverlay
