@require '../../vars'

.z-campground-nearby
  flex: 1
  display: flex
  flex-direction: column

  > .map
    flex: 1
    min-height: 0
    display: flex

  > .places-list
    flex: 1
    min-height: 0
    display: flex
