@require '../../vars'

.z-about
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .mission, > .meet, > .help, > .transparency
    > .g-grid, > .content
      padding: 16px
      box-sizing: border-box

      > .title
        font-display1()
        text-align: center
        margin: 16px 0

  > .mission
    display: flex
    flex-direction: column
    align-items: center
    min-height: 370px
    background-image: url($cdnUrl + '/about/desert.jpg')
    background-size: 100% auto
    padding: 16px
    box-sizing: border-box

    > .content
      width: 100%
      max-width: 510px
      padding: 32px 16px
      box-sizing: border-box
      display: flex
      flex-direction: column
      align-items: center
      background: getColor('$tertiary0')
      margin: 40px auto 0 auto

      > .title
        margin-top: 0

      > .text
        font-body1()
        text-align: center
        margin-bottom: 24px

      > .actions
        display: flex
        width: 100%

        > .action
          flex1()
          max-width: 146px
          margin-right: 24px

          &:first-child
            margin-left: auto

          &:last-child
            margin-right: auto

  > .roadmap
    text-align: center
    background: getColor('$tertiary0')

    > .info
      padding: 36px 16px 16px 24px

      > .title
        font-display1()
        margin-bottom: 16px

      > .description
        font-h3m()

  > .meet
    background: getColor('$tertiary0')
    padding-bottom: 32px

    > .g-grid

      > .g-grid > .g-cols > .g-col
        > .image
          width: 100%
          height: 0
          padding-bottom: (100 * 184 / 328)%
          background-size: 100%
          margin: 16px 0

          &.austin
            background-image: url($cdnUrl + '/about/austin.jpg')

          &.rachel
            background-image: url($cdnUrl + '/about/rachel.jpg')

        > .name
          font-h3()
          margin-bottom: 8px

  > .help
    background: #f7f5f3
    text-align: center
    padding-bottom: 32px

    > .g-grid

      > .g-grid > .g-cols > .g-col
        > .image
          width: 140px
          height: 140px
          margin: 28px auto 0 auto
          background-size: 100%

          &.share
            background-image: url($cdnUrl + '/about/share.svg')

          &.review
            background-image: url($cdnUrl + '/about/review.svg')

          &.feedback
            background-image: url($cdnUrl + '/about/feedback.svg')

        > .title
          font-h3()
          margin-top: 16px
          margin-bottom: 8px

        > .description
          width: 235px
          margin: 0 auto

        > .button
          width: 148px
          margin: 12px auto 0 auto

  > .transparency
    background: getColor('$tertiary0')
    display: flex
    flex-direction: column
    align-items: center
    padding-bottom: 32px

    > .g-grid

      > .button
        width: 220px
        margin: 24px auto 0 auto

  a
    font-weight: 500

  > .disclaimer
    font-caption2()
    margin: 12px 0
    text-align: center

  @media (min-width: $breakPointMedium)
    > .mission
      background-position: center

      > .content
        margin: 72px auto 0 auto

.z-about_roadmap-phase
  padding: 72px 48px
  width: 100%
  background-color: #f7f5f3

  &.phase-1
    > .image
      background-image: url($cdnUrl + '/about/education.png')
      height: 154px

  &.phase-2
    > .image
      background-image: url($cdnUrl + '/about/world.png')
      height: 193.5px

  &.phase-3
    > .image
      background-image: url($cdnUrl + '/about/money.png')
      height: 214.5px

  &.phase-4
    > .image
      background-image: url($cdnUrl + '/about/expand.png')
      height: 160px

  > .image
    width: 200px
    height: 200px
    background-size: 100%
    margin: 0 auto 24px auto

  > .phase
    font-h3()
    color: getColor('$white')
    margin-bottom: 4px

  > .title
    font-h1()
    text-align: center
    margin-bottom: 24px

  > .bullets
    margin: 0
    padding-left: 20px
    text-align: left
    max-width: 500px
    margin: 0 auto

    > li
       margin-top: 16px
       list-style-type: circle
