@require '../../vars'

.z-about
  padding: 0 16px 16px 16px
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid

    > .title
      font-display1()
      // text-align: center
      margin: 16px 0

    > .divider
      width: 100%
      height: 1px
      background: getColor('$bgText6')
      margin: 8px 0

    > .clear
      clear: both

    > .us
      padding: 8px 32px

    > .home
      width: 100%
      margin-top: 8px
      max-width: 800px

    a
      font-weight: 500

    > .disclaimer
      font-caption2()


  @media (min-width: $breakPointMedium)
    > .g-grid
      > .us
        float: left
        margin-right: 16px
        margin-bottom: 8px
        padding: 0
