@require '../../vars'

.z-item
  padding: 16px
  flex: 1
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid

    > .what, .why, .products
      > .subhead
        font-subhead()
        margin: 8px 0

    > .title
      font-title()
