@require '../../vars'

.z-edit-trip-route-info-elevation
  flex1()
  max-width: 400px
  margin: 0 auto

  > .elevations
    display: flex
    padding: 16px 16px 0 16px

    > .main, > .alt
      display: flex
      align-items: center

      &.alt
        margin-left: auto

      > .icon
        margin-right: 4px

      > .text
        font-caption()
        margin-right: 16px

  > .chart
    height: 120px
