@require '../../vars'

.z-new-check-in
  flex1()
  display: flex
  flex-direction: column

  &.is-overlay
    background: getColor('$tertiary0')
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 999
