@require '../../vars'

.z-product
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .image-wrapper
    background: getColor('$white')

    > .image
      width: 100%
      height: 200px
      max-width: 100%
      background-size: auto 100%
      background-repeat: no-repeat
      background-position: center center

  > .content
    padding: 16px
    > .g-grid

      > .actions
        margin: 20px 0

      > .name
        font-h2()
        margin-bottom: 8px

      > .description
        font-body1()

      > .title
        font-title()
        margin-top: 16px

  // @media (min-width: $breakPointMedium)
  //   > .g-grid
  //     > .image
  //       background-position: left center
