@require '../../vars'

.z-current-location
  display: flex
  align-items: center
  padding: 0 16px
  margin-bottom: 8px

  > .location
    margin-left: 16px

    > .name
      font-subtitle1()

    > .location
      font-caption(true, disabled)


  > .change
    margin-left: auto
