

@require '../../vars'

.z-group-settings
  flex1()
  overflow-y: auto
  -webkit-overflow-scrolling: touch
  padding-bottom: 8px

  > .g-grid

    > .title
      font-subtitle1()
      color: getColor('$primaryMain')
      padding: 16px 16px 12px 16px
      margin-bottom: 8px

    > .input
      padding: 0 16px
      margin-bottom: 16px

    > .list
      margin: 0
      padding: 0
      list-style-type: none

      > .item
        display: flex
        align-items: center
        padding: 16px
        cursor: pointer

        > .icon
          margin-right: 30px

        > .text
          font-body1()
          color: getColor('$bgText')

        > .toggle
          margin-left: auto
