@require '../../vars'

.z-group-chat
  flex: 1
  display: flex
  min-width: 0
  min-height: 0 // fix for older chrome (otherwise doesn't keep height 100)
  flex-direction: column
  position: relative
  // overflow: auto
  // -webkit-overflow-scrolling: touch
