@require '../../vars'

.z-travel-map
  flex1()
  display: flex
  position: relative

  &.has-stats
    > .stats
      display: block

  > .stats
    position: absolute
    display: none
    width: 100%
    padding: 4px 8px
    background: getColor('$white70')
    box-sizing: border-box

    > .g-grid
      display: flex

      > .distance
        margin-left: auto
