@require '../../vars'

.z-places-filters-overlay_reset-button
  margin-right: -16px

.z-places-filters-overlay
  position: fixed
  z-index: 99
  top: 0
  left: 0
  opacity: 0
  pointer-events: none
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)
  width: 100%
  height: 100%
  box-sizing: border-box
  background: getColor('$tertiary0')
  overflow: auto
  -webkit-overflow-scrolling: touch
  display: flex
  flex-direction: column

  &.is-server-side
    display: none

  &.is-visible
    opacity: 1
    pointer-events: all

  > .g-grid
    flex1()
    overflow: auto
    -webkit-overflow-scrolling: touch

.z-places-filters-overlay_filter
  padding: 0 16px
  > .inner
    padding: 16px 0
    border-bottom: 1px solid getColor('$bgText12')

    > .group-title
      font-subtitle1()

    > .description
      font-body2(true, medium)
      margin-top: 4px
      margin-bottom: 20px

    > .warning
      font-caption()
      background: getColor('$secondary50')
      margin-top: 8px
      margin-bottom: 8px
      padding: 12px
      border-radius: 4px
