@require '../../vars'

.p-slide-steps
  flex1()
  display: flex

  > .button-wrapper
    position: absolute
    z-index: 999
    left: 0
    bottom: 64px
    width: 100%
    padding: 0 16px
    box-sizing: border-box
    text-align: center
    display: flex
    justify-content: center

    > .button
      font-buttonon()
      display: inline-block
      text-decoration: none
      margin-left: auto
      margin-right: auto
      -webkit-tap-highlight-color: transparent
      background: getColor('$white')
      border-radius: 24px
      padding: 16px 24px
      text-transform: uppercase
      border: none
      outline: 0
      cursor: pointer
      transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1)
      box-sizing: border-box

      &.secondary
        margin-left: 16px
        margin-right: auto
        background-color: rgba(0, 0, 0, 0)
        color: getColor('$white')
        border: 1px solid getColor('$white')

  > .bottom-bar
    position: fixed
    z-index: 999
    bottom: 0
    left: 0
    display: flex
    width: 100%
    height: 56px
    align-items: center
    padding: 0 8px
    box-sizing: border-box
    background: getColor('$tertiary100')

    > .icon
      width: 48px

      > .text
        font-body2()
        text-transform: uppercase
        text-align: center

    > .step-counter
      flex1()
      display: flex
      justify-content: center
      width: 100%
      margin: 16px 0

      > .step-dot
        width: 6px
        height: 6px
        border-radius: 50%
        margin-right: 4px
        background: getColor('$bgText26')

        &.is-active
          background: getColor('$bgText')

  @media (min-width: $breakPointMedium)
    > .button-wrapper
      left: 50%
      width: 50%
      bottom: 80px

      > .button
        width: auto

    > .bottom-bar
      width: 50%
      left: 50%
