@require '../../vars'

.p-verify-email
  padding: 16px
  display: flex
  justify-content: center
  flex-direction: column

  > .is-verified
    font-subtitle1()
    text-align: center

    > .home
      margin-top: 32px

  > .loading
    font-subtitle1()
    text-align: center
    margin-top: 16px

  > .stuck
    display: block
    margin-top: 16px
    text-align: center
