@require '../../vars'

.z-filter-comments-dialog_dialog
  > .subhead
    font-subtitle1()
    color: getColor('$primaryMain')
    margin-top: 16px

    &:first-child
      margin-top: 0

  > .option
    display: flex
    padding: 8px 0
    align-items: center

    // TODO: stylus fn or component
    > .radio
      appearance: none
      outline: none
      width: 20px
      height: 20px
      border-radius: 50%
      border: 2px solid getColor('$bgText54')
      box-sizing: border-box
      position: relative
      margin-right: 8px

      &:checked
        background: getColor('$primaryMain')
        border: 2px solid getColor('$primaryMain')

        &:after
          content: ''
          position: absolute
          width: 100%
          height: 100%
          border-radius: 50%
          border: 2px solid getColor('$tertiary0')
          box-sizing: border-box

    > .text
      font-body1()
