@require '../../vars'

.z-step-bar
  shadow-upper-1()
  width: 100%
  box-sizing: border-box
  background: getColor('$tertiary0')
  display: flex
  align-items: center
  justify-content: center
  margin-top: auto
  user-select: none

  > .g-grid
    flex1()
    display: flex
    align-items: center
    justify-content: center

    > .previous, > .next
      font-button()
      text-transform: lowercase
      color: getColor('$primary500')
      -webkit-tap-highlight-color: transparent
      width: 60px
      padding: 16px
      box-sizing: content-box
      cursor: pointer

    > .next
      display: flex
      align-items: center
      color: getColor('$grey500')

      &.can-continue
        color: getColor('$primary500')


    > .step-counter
      display: flex
      margin: 0 auto

      > .step-dot
        width: 6px
        height: 6px
        border-radius: 50%
        margin-right: 4px
        background: getColor('$bgText26')

        &.is-active
          background: getColor('$primary500')
