@require '../../vars'

.z-edit-trip-settings
  flex1()
  overflow-y: auto
  -webkit-overflow-scrolling: touch

  > .content
    padding: 16px

    > .g-grid
      > .field
        margin-bottom: 22px

        > .title
          font-subtitle1()
          margin-bottom: 8px

        > .content
          display: flex

          > .description
            font-caption()

          > .input
            margin-left: auto

        > .extras
          display: flex
          margin-top: 16px
          align-items: center

          > .short-input
            max-width: 100px
            margin-right: 16px

          > .dash
            margin-right: 16px
