@require '../../vars'

.z-donate
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .top
    padding: 36px 16px
    width: 100%
    box-sizing: border-box

    > .art
      display: none

  > .description
    background: getColor('$tertiary0')
    padding: 36px 16px

    > .content
      text-align: center

      > .title
        font-display2()
        margin-bottom: 20px

  > .tax-info
    font-title()
    background: getColor('$secondary500')
    color: getColor('$secondary500Text')
    padding: 36px 16px

    > .content
      text-align: center

  @media (min-width: $breakPointMedium)
    > .top
      max-width: 720px
      margin: 0 auto
      padding: 72px 16px
      box-sizing: border-box
      display: flex
      align-items: center

      > .art
        display: block
        width: 243px
        height: 225px
        margin-left: auto
        background-image: url($cdnUrl + '/about/donation_illustration.svg')

    > .description
      > .content
        max-width: 650px
        margin: 0 auto
        padding: 76px

    > .tax-info
      > .content
        max-width: 570px
        margin: 0 auto
        padding: 72px
