@require '../../vars'

.z-edit-profile
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    padding: 16px
    box-sizing: border-box

    > .section
      margin: 16px 0

      > .title
        font-title()
        text-transform: uppercase
        color: getColor('$primary500')

    > .actions
      margin-top: 32px

      > .button
        display: inline-block


    > .karma
      margin-top: 16px
