@require '../../vars'

.z-item-box
  shadow-1()
  display: block
  padding: 16px
  text-align: center
  background: getColor('$white')
  border-radius: 2px

  .image
    width: 100%
    padding-bottom: 100%
    margin: 0 auto
    max-width: 100%
    background-size: 100%
    background-repeat: no-repeat
    background-position: center center

  > .name
    margin-top: 8px
