@require '../../vars'

.z-item-box
  display: block
  padding: 16px
  text-align: center

  .image
    width: 200px
    height: 200px
    max-width: 100%
    background-size: 100%
    background-repeat: no-repeat
    background-position: center center
