@require '../../vars'

.z-place-info-contact
  margin-bottom: 8px

  > .phone, > .website, > .coordinates
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

    > .title
      font-title()
