@require '../../vars'

.z-place-info-contact
  margin: 0 -16px 16px -16px

  > .block
    display: flex
    align-items: center
    padding: 16px
    border-bottom: 1px solid getColor('$tertiary300')

    > .text
      margin-left: 24px
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
