@require '../../vars'

.z-place-info-contact
  margin: 0 -16px 24px -16px

  > .block
    display: flex
    align-items: center
    padding: 6px 16px

    > .text
      font-body2(true, medium)
      margin-left: 16px
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
