@require '../../vars'

.z-place-tooltip
  tooltip()

  &.is-image-loaded
    > .thumbnail
      opacity: 1
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)

  // @media (min-width: $breakPointMedium)
  //   max-width: 300px

  > .thumbnail
    width: 72px
    height: 72px
    background-size: cover
    opacity: 0
    margin-left: 16px

  > .content
    > .elevation
      font-caption2()
      margin-bottom: 8px

    > .features
      margin-top: 8px

      > .mvums
        margin-top: 8px
        > .mvum
          display: flex
          align-items: center

          > .icon
            display: block
            margin-left: 8px

    > .actions
      display: flex

      > .action
        margin: 0 8px
        text-align: center
        cursor: pointer

        > .icon
          margin-bottom: 2px

        > .text
          font-caption2()
