@require '../../vars'

.z-preservation
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .top
    padding: 0 16px 32px 16px
    text-align: center
    background-color: #b6d8d8

    > .g-grid

      > .title
        font-display1()
        margin: 32px 0

      > .description
        font-title()

  > .content
    background-color: getColor('$tertiary0')
    padding: 16px 16px 32px 16px
    position: relative

    &:after
      content: ''
      position: absolute
      top: 0
      left: 50%
      margin-left: -20px
      width: 0
      height: 0
      border-left: 20px solid transparent
      border-right: 20px solid transparent
      border-top: 20px solid #b6d8d8

    > .lesson
      margin-top: 40px

      > .g-grid

        > .icon
          width: 50px
          height: 50px
          background-size: 100%

          &.pack-out
            background-image: url($cdnUrl + '/roam_with_care/apple_icon.svg')
            margin: 0 auto

          &.fire-safety
            background-image: url($cdnUrl + '/roam_with_care/fire_icon.svg')
            margin: 0 auto

          &.trails
            background-image: url($cdnUrl + '/roam_with_care/plant_icon.svg')
            margin: 0 auto

          &.rules
            background-image: url($cdnUrl + '/roam_with_care/date_icon.svg')
            margin: 0 auto

        > .title
          font-h1()
          margin: 16px 0 12px 0
          text-align: center

        > .bullets
          text-align: left

          li
            list-style-type: circle
            margin-top: 8px

        > .button
          max-width: 148px
          margin: 24px auto 0 auto
