@require '../../vars'

.z-preservation
  padding: 0 16px 16px 16px
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid

    > .title
      font-display1()
      // text-align: center
      margin: 16px 0

    a
      font-weight: 500
