@require '../../vars'

.z-filter-dialog_dialog
  > .content
    > .carrier, > .amenity
      margin-bottom: 16px

    > .is-lte
      margin-top: 16px
      display: flex
      align-items: center

      > .text
        margin-left: 8px

    > .label
      margin-bottom: 8px

    > .fields
      display: flex
