@require '../../vars'

.z-filter-dialog_dialog
  > .warning
    font-tiny()
    background: getColor('$red50026')
    margin-top: -8px
    margin-bottom: 8px
    padding: 4px 8px
    border-radius: 4px

  > .content
    > .carrier, > .amenity
      margin-bottom: 16px

    > .checkbox-label
      margin-top: 16px
      display: flex
      align-items: center

      > .text
        margin-left: 8px

    > .label
      margin-bottom: 8px

    > .fields
      display: flex
