@require '../../vars'

.z-friends
  flex1()
  width: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .empty
    text-align: center
    max-width: 300px
    margin: 24px auto 0 auto

    > .image
      width: 226px
      height: 150px
      margin: 0 auto
      background: url($cdnUrl + '/empty_state/friends.svg')
      background-size: 100%

    > .title
      font-subtitle1()
      color: getColor('$primaryMain')
      margin-top: 16px
      margin-bottom: 8px

    > .description
      font-body1(true, medium)

  > .g-grid
    > .title
      font-subtitle1()
      margin: 0
      padding: 16px 16px 8px 16px

    // > .users
    //   padding: 10px 0 0 16px
