@require '../../vars'

.z-friends
  flex1()
  width: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .empty
    text-align: center
    max-width: 300px
    margin: 40px auto 0 auto

    > .image
      width: 190px
      height: 170px
      margin: 0 auto
      background: url($cdnUrl + '/illustrations/empty_state_friends.svg')
      background-size: 100%

    > .title
      font-h5(true, medium)
      margin-top: 24px
      margin-bottom: 4px

    > .description
      font-body2(true, medium)

  > .g-grid
    > .title
      font-subtitle1()
      margin: 0
      padding: 16px 16px 8px 16px

    // > .users
    //   padding: 10px 0 0 16px
