@require '../../vars'

.z-thread-list-item-new
  width: 100%
  box-sizing: border-box
  display: block
  background: getColor('$tertiary700')

  &.has-padding
    padding: 16px 16px 12px 16px
    margin-bottom: 8px

  &.is-image-loaded
    opacity: 1
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)

    > .content
      > .info
        > .image
          opacity: 1 !important
          transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)

  &.is-pinned&.has-padding
    border-left: 4px solid getColor('$primary500')

  > .content
    // display: flex
    flex: 1

    > .info
      flex: 1
      display: flex
      min-width: 0

      > .title
        font-h2(false)
        word-break: break-word
        margin-right: 8px

      > .image
        background-size: cover
        background-position: center
        width: 50px
        height: 50px
        margin-left: auto
        // margin-right: 16px
        // padding-bottom: 100%
        opacity: 0
        flex-shrink: 0

      > .icon
        width: 34px
        // margin-right: 16px
        margin-left: auto

    > .bottom
      margin-top: 8px

      > .author
        font-caption2()
        display: flex
        align-items: center

        > .name
          whitespace: nowrap
          text-overflow: ellipsis
          overflow: hidden
          max-width: 25%

        > .icon
          margin-left: 4px

        > .middot
          margin: 0 4px

        > .time
          margin-right: 8px

        > .comments
          margin-left: auto
          // margin-right: 16px

        > .comments, > .points
          display: flex
          align-items: center

          > .icon
            margin: 0 8px
  > .preview
    width: 100%
    margin-top: 8px
