@require '../../vars'

.z-partners
  padding: 16px
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid

    > .subhead
      font-subhead()
      color: getColor('$primary500')
