@require '../../vars'

.z-place-list-campground
  display: flex
  align-items: center

  > .thumbnail
    width: 100px
    height: 78px
    background-size: cover
    margin-right: 16px
    border-radius: 4px

  > .info
    flex1()
    min-width: 0

    > .name
      font-title()

    > .caption
      font-caption2()

  > .actions
    > .action
      margin-left: 8px
