@require '../../vars'

.z-checkbox
  position: relative
  display: inline-block

  > .checkbox
    width: 18px
    height: 18px
    vertical-align: middle
    cursor: pointer
    // No IE support!
    appearance: none
    outline: 0
    box-sizing: border-box
    border-radius: 2px

    &:checked
      background: getColor('$primary500')
      color: getColor('$primary500Text')
      outline: 0

      &~.icon
        display: block

  > .icon
    display: none
    position: absolute
    left: 50%
    top: 50%
    margin-left: -8px
    margin-top: -7px
    pointer-events: none
