@require '../../vars'

.z-upload-images-preview
  background: getColor('$tertiary100')
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  position: fixed
  top: 0
  left: 0
  z-index: 9999

  > .g-grid
    padding: 16px
    box-sizing: border-box
    flex1()
    overflow: auto
    -webkit-overflow-scrolling: touch

    > .caption
      max-width: 600px

    > .tags
      max-width: 600px
      display: flex
      align-items: center
      margin-top: 8px

      > .input
        max-width: 300px

      > .button
        margin-left: 8px

      > .tags
        display: flex
        margin-left: 16px

        > .tag
          font-caption()
          margin: 0 4px

    > .image-wrapper
      &.rotate-180
        > img
          transform: rotate(180deg)

      &.rotate-90
        > img
          transform: rotate(90deg)

      &.rotate-270
        > img
          transform: rotate(270deg)

      > img
        margin-top: 16px
        max-width: 100%
        height: auto
        // max-width: 600px

    > .location
      width: 100%
      max-width: 600px
      height: 200px
      display: flex
      flex-direction: column
      margin-top: 16px
      display: none

      &.is-visible
        display: block

      > .map
        height: 100%
        flex1()
        display: flex

      > .include-location
        margin-bottom: 8px

        > label
          > .checkbox
            margin-right: 8px
            display: inline-block
