@require '../../vars'

.z-group-edit-channel
  flex1()
  display: flex
  flex-direction: column
  padding: 16px

  > .g-grid

    > .title
      font-subhead()
      color: getColor('$primaryMain')
      padding: 14px 0

    > .input
      margin-bottom: 8px

      > .label
        display: flex
        margin-top: 16px

        > .text
          flex1()

    > .actions
      display: flex
      justify-content: flex-end
      margin-top: 16px

      > .save-button
        margin-left: 8px
