@require '../../vars'

.z-dialog
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  z-index: 1000000

  &.is-mounted
    > .dialog
      opacity: 1
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)

    > .backdrop
      opacity: 1
      transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1)

  &.is-vanilla
    > .dialog
      background: getColor('$tertiary0')
      max-width: 280px
      border-radius: 4px

      > .content
        font-body1()
        color: getColor('$tertiary0Text')
        padding: 24px 24px 16px 24px

        > .title
          font-h5(false)
          margin-bottom: 20px

      > .actions
        display: flex
        justify-content: flex-end
        padding: 8px 16px

        > .action
          &.is-full-width
            width: 100%

  &.is-wide
    > .dialog
      max-width: 320px

  > .backdrop
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: getColor('$bgText38')
    z-index: 1000000
    opacity: 0

  > .dialog
    shadow-3()
    z-index: 1000003
    position: relative
    min-width: 280px
    max-height: 100%
    overflow-y: auto
    overflow-x: hidden
    -webkit-overflow-scrolling: touch
    opacity: 0
