@require '../../vars'

.z-rig-info
  padding: 16px
  backrground: getColor('$tertiary0')
  border: 1px solid getColor('$bgText26')
  max-width: 400px
  border-radius: 4px
  display: flex
  align-items: center

  > .info
    > .title
      font-title()

  > .edit
    font-button()
    color: getColor('$primary500')
    cursor: pointer
    margin-left: auto
