@require '../../vars'

.z-rig-info
  padding: 16px
  backrground: getColor('$tertiary100')
  border: 1px solid getColor('$bgText26')
  max-width: 300px
  border-radius: 4px
  display: flex
  align-items: center

  > .info
    > .title
      font-title()

  > .edit
    font-title()
    cursor: pointer
    margin-left: auto
