@require '../../vars'

.z-item-videos
  padding: 24px 16px
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .title
      font-h3()
      margin-bottom: 24px

    > .video
      margin-bottom: 16px

      > .name
        font-title()
        margin-bottom: 8px
