@require '../../vars'

.z-product-guides-onboard
  flex1()
  display: flex
  background: getColor('$tertiary0')

  > .intro
    flex1()
    display: flex
    padding: 16px
    flex-direction: column
    text-align: center

    > .title
      font-h5()
      margin-top: auto
      color: getColor('$primaryMain')

    > .icon
      width: 100px
      height: 112px
      background-image: url($cdnUrl + '/guides/guides_onboarding_icon.svg')
      background-size: 100%
      margin: 24px auto

    > .description
      font-subtitle1()
      margin-bottom: auto

    > .actions
      > .action
        margin-top: 16px



.z-product-guides-onboard_step
  width: 100%
  box-sizing: border-box
  padding: 0 16px

  > .title
    font-h5()
    text-align: center
    margin: 16px 0 32px 0

  > .buttons
    max-width: 410px

    > .g-cols > .g-col
      > .button
        font-h5()
        cursor: pointer
        height: 110px
        max-width: 200px
        box-sizing: border-box
        display: flex
        align-items: center
        justify-content: center
        padding: 24px
        background: getColor('$secondary50')
        color: getColor('$secondary100Text')
        text-align: center
        border-radius: 4px

        &.is-selected
          background: getColor('$secondaryMain')
          color: getColor('$secondaryMainText')

  > .rig-types

    > .rig-type
      font-h6()
      cursor: pointer
      color: getColor('$secondaryMain')
      border: 2px solid getColor('$secondaryMain')
      border-radius: 4px
      padding: 12px 24px
      text-align: center
      margin-bottom: 16px

      &.is-selected
        background: getColor('$secondaryMain')
        color: getColor('$secondaryMainText')
