@require '../../vars'

.z-coordinate-picker
  width: 100%
  height: 100%
  position: absolute
  z-index: 999
  display: flex
  flex-direction: column
  background: getColor('$bg500')

  > .map
    width: 100%
    flex1()
    display: flex
