@require '../../vars'

.z-place-new-review-features
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch
  background: getColor('$tertiary0')
  padding: 16px

  > .g-grid
    > .description
      font-body1(true, medium)
      text-align: center
      margin-bottom: 16px

    > .features
      text-align: center

      > .feature
        font-subtitle1()
        color: getColor('$secondaryMain')
        display: inline-block
        text-align: center
        padding: 4px 12px
        border: 1px solid getColor('$secondaryMain')
        border-radius: 18px
        margin: 6px
        cursor: pointer

        > .icon
          display: inline-block
          vertical-align: middle
          margin-right: 8px

        &.is-selected
          background: getColor('$secondaryMain')
          color: getColor('$secondaryMainText')
