@require '../../vars'

.z-edit-place
  flex1()
  // display: flex
  // flex-direction: column
  // background: getColor('$tertiary0')

  > .g-grid
    > .actions
      padding: 16px
      display: flex

    > .input
      padding: 16px
