@require '../../vars'

.z-channel-list
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .channel
    padding: 12px 16px
    display: flex
    align-items: flex-start
    cursor: pointer

    &.is-selected
      background: getColor('$primary50')

    > .hashtag
      margin-right: 24px

    > .info

      > .name
        font-subtitle2()
        color: getColor('$bgText')

        > .notifications
          font-caption()
          display: inline-block
          margin-left: 8px
          padding: 0 8px
          background: getColor('$primaryMain')
          color: getColor('$primaryMainText')
          border-radius: 2px

      > .description
        font-caption()
        color: getColor('$bgText54')
        // margin-top: 4px
