@require '../../vars'

$zIndexDrawer = 300

.z-nav-drawer
  position: relative
  z-index: 999

.z-nav-drawer_drawer
  flex: 1
  display: flex
  flex-direction: column

  > .header
    shadow-1()
    // prevents flicker glitch http://stackoverflow.com/a/3921870
    backface-visibility: hidden
    padding: 20px 16px
    height: 56px
    box-sizing: border-box
    border-right: 1px solid getColor('$tertiary90012')
    background: getColor('$tertiary500')
    display: flex
    align-items: center

    @media (min-width: $breakPointMedium)
      height: 64px

    > .icon
      width: 36px
      margin-right: 16px

    > .name
      font-h1(false)
      color: getColor('$tertiary500Text')

  > .ad
    // position: absolute
    // bottom: 0
    width: 336px
    height: 280px

  > .content
    flex: 1
    width: 100%
    box-sizing: border-box
    background: getColor('$tertiary900')
    padding: 8px 0
    overflow-y: auto
    -webkit-overflow-scrolling: touch

    > .menu
      width: 100%
      list-style-type: none
      margin: 0
      padding: 0

      > .sign-in-buttons
        padding: 6px 16px
        display: flex

        > .button
          font-button()
          flex: 1
          padding: 10px
          background: getColor('$primary500')
          color: getColor('$primary500Text')
          text-align: center
          border-radius: 2px
          cursor: pointer

          &:first-child
            margin-right: 16px

      > .divider
        width: 100%
        height: 1px
        background: getColor('$tertiary900Text12')
        margin: 8px 0

      > .subhead
        font-subhead()
        color: getColor('$primary500')
        padding: 16px

      .menu-item
        > .menu-item-link
          font-body1()
          cursor: pointer
          display: flex
          align-items: center
          padding: 8px 16px

          // &:active
          //   background: getColor('$tertiary500')

          &.is-child
            color: getColor('$tertiary500Text70')

          > .icon
            margin-right: 36px
            width: 24px
            height: 28px

          > .new
            font-button()
            color: getColor('$primary500')
            font-size: 10px
            font-weight: 700
            display: inline-block
            vertical-align: middle
            margin-left: 16px

          > .chevron
            margin-left: auto

        ul
          list-style-type: none
          margin: 0
          padding: 0

          &.children-0
            padding-left: 16px

        &.is-selected
          > .menu-item-link
            font-title()
            // background: getColor('$tertiary500')

    > .my-groups
      position: relative
      overflow: hidden

      &:after
        content: ''
        position: absolute
        right: 0
        top: 0
        height: 100%
        width: 60px
        // looks ugly on ios since it does gradient to black (0 opacity black)
        // could make a $tertiary700Transparent, but don't want to
        // background: linear-gradient(to right, getColor('$transparent') 0%, getColor('$tertiary700') 70%)
        z-index: 999
        pointer-events: none

      > .my-groups-scroller
        padding: 0 16px
        margin-top: 8px
        white-space: nowrap
        overflow-x: auto
        overflow-y: hidden
        -webkit-overflow-scrolling: touch

        > .group-bubble
          display: inline-block
          vertical-align: top
          width: 40px
          height: 44px
          border-radius: 50%
          margin-right: 8px

          > .icon
            background: getColor('$tertiary500')
            border: 2px solid getColor('$tertiary300')
            box-sizing: border-box
            border-radius: 50%
            width: 40px
            height: 40px
            position: relative
            z-index: 1000
            cursor: pointer




@media (min-width: $contentMaxWidth)
  .z-nav-drawer_drawer > .content > .menu .menu-item > .menu-item-link
    position: relative // for ripple
    &:active
      background: none !important

@media (pointer: fine) and (min-width: $contentMaxWidth)
  .z-nav-drawer_drawer > .content > .menu .menu-item > .menu-item-link
    padding: 4px 16px

    // &:hover
    //   background: getColor('$tertiary600')
