@require '../../vars'

.z-cell-bars
  display: flex
  align-items: flex-end
  position: relative

  &.is-interactive
    cursor: pointer

  > .bar
    width: 12%
    margin: 0 3.5%
    background: getColor('$secondary50')
    border-radius: 3px

    &.is-visible
      background: getColor('$secondaryMain')

  > .no-signal
    position: absolute
    left: 0
    top: 0
