@require '../../vars'

.z-cell-bars
  display: flex
  align-items: flex-end
  position: relative

  > .bar
    width: 15%
    margin: 0 2.5%
    background: getColor('$primary100')

    &.is-visible
      background: getColor('$primary500')

  > .no-signal
    position: absolute
    left: 0
    top: 0
