@require '../../vars'

.z-check-in
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid

    > .title
      font-title()
      padding: 16px

    > .place
      padding: 16px

    > .photos
      padding: 8px
