@require '../../vars'

.z-check-in
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .title
      font-title()
      padding: 16px

    > .place
      padding: 0 16px 16px 16px

      > .title
        font-title()
        padding: 16px 0

    > .actions
      display: flex
      padding: 0 16px
      margin-top: 12px

      > .action
        flex1()
        margin-right: 16px

        &:last-child
          margin-right: 0

    > .notes
      padding: 0 16px

    > .photos
      padding: 0 8px
