@require '../../vars'

.z-check-in
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid

    > .info
      padding: 16px
      border-bottom: 1px solid getColor('$bgText26')
      text-align: center

      > .name
        font-h2()

      > .date
        font-body2()
        margin-top: 4px

    > .title
      font-title()
      padding: 16px

    > .place
      padding: 0 16px 16px 16px

      > .title
        font-title()
        padding: 16px 0

    > .photos
      padding: 8px
