@require '../../vars'

.z-new-campground-initial-info
  flex: 1
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .field
      padding: 16px
      display: block

      > .name
        font-body1()
        margin-bottom: 4px

    > .where
      > .input
        display: flex
        align-items: center

        > .button
          margin-left: 8px
