@require '../../vars'

.z-new-campground-initial-info
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .field
      padding: 16px
      display: block

      > .name
        font-body1()
        margin-bottom: 4px

      > .form
        display: flex
        align-items: center

        > .input
          flex1()
          max-width: 300px

        > .button
          margin-left: 8px

      > .videos
        margin-top: 16px

        > .video
          display: flex
          align-items: center

          > .remove
            margin-left: 8px
