@require '../../vars'

.z-avatar
  position: relative
  border-radius: 50%
  box-sizing: border-box

  // &.has-border
  //   border: 2px solid getColor('$white54')

  > .image
    width: 100%
    height: 100%
    background-size: 100%
    border-radius: 50%

    &.rotate-180
      transform: rotate(180deg)

    &.rotate-90
      transform: rotate(90deg)

    &.rotate-270
      transform: rotate(270deg)

  // > .level
  //   font-micro()
  //   font-size: 9px
  //   font-weight: 600
  //   background: getColor('$primaryMain')
  //   border: 1px solid getColor('$white30')
  //   color: getColor('$black')
  //   min-width: 14px
  //   height: 14px
  //   line-height 14px
  //   text-align: center
  //   position: absolute
  //   right: -2px
  //   bottom: -2px
  //   border-radius: 50%
