@require '../../vars'

.z-info-level
  > .flavor-text
    margin: 8px 0

  > .bar
    position: relative
    margin: 8px 0
    height: 8px
    width: 100%
    border-radius: 4px
    background: getColor('$tertiary200')

    > .fill
      position: absolute
      height: 100%
      border-radius: 4px
      background: getColor('$primaryMain')
      transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1)

      // transition transform should be faster, but has weird quirks
      // (font blurriness, problems with border-radius)
      // width: 1% // increased and decreased with scale
      // transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1)
      // transform-origin: left

      &.has-1
        background: getColor('$green500')

      &.has-2
        background: getColor('$green500')

      &.has-3
        background: getColor('$yellow500')

      &.has-4
        background: getColor('$red300')

      &.has-5
        background: getColor('$red300')

      &.is-reversed
        &.has-1
          background: getColor('$red300')

        &.has-2
          background: getColor('$red300')

        &.has-3
          background: getColor('$yellow500')

        &.has-4
          background: getColor('$green500')

        &.has-5
          background: getColor('$green500')

  > .bottom
    display: flex

    > .min, > .max
      font-subtitle1(true, medium)

    > .max
      margin-left: auto
      text-align: right
