@require '../../vars'

.z-masonry-grid
  // column-count: 2
  // ^ assumes all sections are same height, but column-count tries to match height per column
  // column-gap: 8px
  display: flex

  > .column
    flex1()

    > .row
      margin: 0 0 16px
