@require '../../vars'

.z-coordinate-info-dialog_dialog
  > .feature
    > .layer
      font-title()
      color: getColor('$bgText26')

    > .office
      font-h3()
      margin-bottom: 16px
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      height: 20px

    > .region
      margin-bottom: 4px

    > .mvums
      margin-top: 12px

      > .title
        font-title()
        margin-bottom: 8px

      > .mvum
        font-caption1()
        display: flex
        padding: 8px 0

        > .download-icon
          margin-left: auto

        > .map-icon
          margin-left: 28px
