@require '../../vars'

.z-coordinate-info-dialog_dialog
  > .feature
    > .layer
      font-overline()

    > .office
      font-subtitle1()
      margin-bottom: 4px
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
      height: 20px

    > .region
      font-body2()

    > .access
      font-body2()

    > .mvums
      margin-top: 12px
      max-height: 200px
      overflow: auto
      -webkit-overflow-scrolling: touch

      > .title
        font-subtitle1()
        margin-bottom: 8px

      > .mvum
        font-body2()
        display: flex
        padding: 12px 0

        > .download-icon
          margin-left: auto

        > .map-icon
          margin-left: 28px
