@require '../../vars'

.z-edit-trip-navigate-settings
  flex1()
  padding: 16px

  > .field
    margin-bottom: 8px

    > .title
      font-title()
      margin-bottom: 4px

    > .content
      display: flex

      > .description
        font-caption1()

      > .input
        margin-left: auto
