@require '../node_modules/normalize-styl/normalize.styl'

@require './grid.styl'
@require './vars'

$breakPointSmall = 340px
$breakPointMedium = 768px
$breakPointLarge = 840px

html, body
  width: 100%
  height: 100%

body
  font-body1()
  -webkit-tap-highlight-color: transparent
  background: getColor('$bg500')
  padding-top: constant(safe-area-inset-top)
  padding-top: env(safe-area-inset-top)

#zorium-root
  // if this page is in a frame on iOS, iOS tries to auto-expand
  // the frame to fit the page.
  // position absolute here messes up some older android devices
  &.is-ios
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    overflow: auto
    // http://stackoverflow.com/questions/9807620/ipad-safari-scrolling-causes-html-elements-to-disappear-and-reappear-with-a-dela
    // -webkit-overflow-scrolling: touch

  > .z-root
    display: flex

    > .content
      flex1()
      min-width: 0
      display: flex
      flex-direction: column

      > .page
        flex1()
        display: flex
        flex-direction: column

    > .overlay-page
      position: fixed
      z-index: 100
      width: 100%
      height: 100%
      top: 0
      left: 0
      background: getColor('$bg500')
      display: flex
      flex-direction: column

    > #server-loading
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: getColor('$black54')
      z-index: 999999
      opacity: 0
      padding: 16px
      box-sizing: border-box
      display: flex
      align-items: center
      text-align: center

      &.is-clicked
        opacity: 1

a
  color: inherit
  text-decoration: inherit

canvas
  outline: none

input::placeholder
  font-body1()
  color: getColor('$bgText54')

// hack for chrome yellow input for autocomplete
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
  transition: background-color 5000s ease-in-out 0s
  -webkit-text-fill-color: getColor('$bgText87') !important

@media (min-width: $breakPointMedium)
  &::-webkit-scrollbar
    width: 5px
    height: 5px

  &::-webkit-scrollbar-thumb
    background: getColor('$bgText54')
    // border: 1px solid
    border-radius: 20px

  &::-webkit-scrollbar-track
    background: getColor('$tertiary700')
    border-radius: 20px

@keyframes z-ripple-animation-css-only
  from
    transform: scale(7)
    opacity: 0.25
  to
    transform: scale(20)
    opacity: 0
