@require '../../vars'

.z-groups
  flex1()
  width: 100%
  overflow: auto
  -webkit-overflow-scrolling: touch
  box-sizing: border-box

  > .unread-invites
    display: flex
    align-items: center
    padding: 16px

    > .icon
      margin-right: 32px

    > .chevron
      margin-left: auto

  > .title
    font-subtitle1()
    padding: 16px

  > .group-list, > .events
    background: getColor('$tertiary0')

    > .see-all
      padding: 16px
      display: block

      > .g-grid
        display: flex
        align-items: center

        > .text
          color: getColor('$bgText54')

        > .icon
          margin-left: auto

  > .group-list
    padding: 0 16px
    height: 200px
    box-sizing: border-box

  > .events
    > .event
      display: block
      padding: 16px 20px

      > .g-grid
        > .name
          font-subtitle1()

        > .info
          font-caption()
