@require '../../vars'

.z-trip
  flex1()
  display: flex
  flex-direction: column
  overflow: hidden
  position: relative

  &.is-image-loaded
    > .cover
      opacity: 1
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)

  > .cover
    width: 100%
    height: 200px
    background-size: cover // this might slow down browser a bit, could find alternative solution (might need to use js)
    background-position: center
    position: relative
    opacity: 0

  > .fab
    position: fixed
    bottom: 16px
    right: 16px
    z-index: 50
