@require '../../vars'

.z-place-info-weather
  min-height: 300px

  > .title
    font-title()
    margin-bottom: 8px

  > .tabs
    display: flex
    background: getColor('$tertiary0')
    border: 1px solid getColor('$tertiary200')
    border-radius: 4px
    margin-bottom: 8px

    > .tab
      cursor: pointer
      flex1()
      text-align: center
      padding: 4px 0

      &.is-selected
        background: getColor('$tertiary200')
        font-title()

  > .graph
    width: 100%

  > .forecast
    > .days
      display: flex
      overflow: auto
      -webkit-overflow-scrolling: touch

      > .day
        flex1()
        text-align: center
        min-width: 116px

        &:last-child
          margin-right: 0

        > .day-of-week
          font-title()
          text-transform: uppercase

        > .date
          font-caption3()
          // margin-bottom: 8px

        > .icon
          margin: 0 auto 8px auto

        > .high-low, > .rain, > .wind
          display: flex
          justify-content: center
          margin-bottom: 4px

          > .icon
            margin-right: 4px

          > .divider
            margin: 0 4px

        > .high-low
          > .high
            font-title()
            color: getColor('$red500')

          > .low
            font-title()
            color: getColor('$blue500')

        > .rain
          color: getColor('$blue500')

        > .wind
          align-items: flex-start
          > .info
            > .speed, > .gust
              > .caption, > .type
                font-tiny()

    > .attribution
      font-caption3()
      display: block
      margin-top: 16px
