@require '../../vars'

.z-place-info-weather
  min-height: 300px

  > .title
    font-subtitle2()
    margin-bottom: 8px

  > .tabs
    display: flex
    background: getColor('$tertiary0')
    border: 1px solid getColor('$tertiary200')
    border-radius: 4px
    margin-bottom: 8px

    > .tab
      cursor: pointer
      flex1()
      text-align: center
      padding: 8px 20px

      &.is-selected
        background: getColor('$tertiary200')
        font-subtitle1()

  > .graph
    width: 100%

  > .averages
    > .months
      display: flex
      overflow-x: auto
      -webkit-overflow-scrolling: touch
      padding-bottom: 30px

      > .month
        width: 60px
        text-align: center
        flex-shrink: 0

        > .name
          font-subtitle2()
          text-transform: capitalize
          margin-bottom: 8px

        > .precip
          display: flex
          padding-bottom: 32px

        > .bar-wrapper
          box-sizing: border-box
          position: relative

          > .bar
            flex1()
            background: getColor('$precipBlue')
            width: 20px
            height: 100%
            border-radius: 10px
            margin: 0 auto

          > .high, > .low
            position: absolute
            width: 100%

          > .high
            top: -24px

          > .low
            bottom: -24px



  > .forecast
    font-body2()

    > .days
      display: flex
      overflow: auto
      -webkit-overflow-scrolling: touch

      > .day
        flex1()
        text-align: center
        min-width: 116px

        &:last-child
          margin-right: 0

        > .day-of-week
          font-subtitle2()
          text-transform: uppercase

        > .date
          font-caption(true, disabled)
          // margin-bottom: 8px

        > .icon
          margin: 0 auto 8px auto

        > .high-low, > .rain, > .wind
          display: flex
          justify-content: center
          margin-bottom: 4px

          > .icon
            margin-right: 4px

          > .divider
            margin: 0 4px

        > .high-low
          > .high
            font-subtitle2()
            color: getColor('$red500')

          > .low
            font-subtitle2()
            color: getColor('$blue500')

        > .rain
          color: getColor('$blue500')

        > .wind
          align-items: flex-start
          > .info
            > .speed, > .gust
              > .caption, > .type
                font-tiny()

    > .attribution
      font-caption(true, disabled)
      display: block
      margin-top: 16px
