@require '../../vars'

.z-places-map-container
  flex1()
  display: flex
  flex-direction: column
  position: relative
  user-select: none

  &.is-shell
    > .search
      // HACK: is it better to pass isShell to that component?
      > .z-places-filter-bar
        > .bar
          > .filters
            display: none

      > .z-places-search
        > .overlay
          display: none

  > .counts-bar
    font-caption()
    display: none
    text-align: center
    z-index: 1
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    padding: 4px
    box-sizing: border-box
    background: getColor('$tertiary0')

    &.is-visible
      display: block

  > .map
    flex1()
    display: flex
    position: relative

    > .legend-fab
      font-body2()
      shadow-1()
      position: absolute
      bottom: 44px
      left: 12px
      background: getColor('$tertiary0')
      border-radius: 8px
      padding: 6px 12px
      cursor: pointer

    > .layers-fab
      position: absolute
      top: 16px
      right: 16px

    > .layers, > .legend
      shadow-1()
      position: absolute
      background: getColor('$tertiary0')
      border-radius: 8px
      padding: 12px 16px
      z-index: 99
      opacity: 0
      min-width: 240px
      min-height: 220px
      box-sizing: border-box
      transform: scale(0.5)
      opacity: 0
      pointer-events: none
      transform-origin: top right
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1)

      &.is-visible
        pointer-events: all
        opacity: 1
        transform: scale(1)

        > .content
          opacity: 1

      > .content
        opacity: 0
        transition: opacity 0.2s
        transition-delay: 0.2s

    > .legend
      bottom: 44px
      left: 12px
      transform-origin: bottom left
      min-height: 80px

      > .item
        font-caption()
        display: flex
        align-items: center
        margin-bottom: 4px

        > .icon
          margin-right: 8px
          width: 24px
          height: 24px

    > .layers
      top: 16px
      right: 16px
      z-index: 1000

      > .content
        > .top
          display: flex
          align-items: flex-start

          > .title
            font-subtitle1(true, medium)
            margin-bottom: 16px

          > .settings
            margin-left: auto

        > .layer-icons
          > .g-grid
            > .g-cols

              > .layer-icon
                text-align: center
                cursor: pointer
                display: flex
                flex-direction: column
                align-items: center
                margin: 4px 0

                &.is-visible
                  > .icon
                    border: 3px solid getColor('$primaryMain')

                  > .name
                    color: getColor('$primaryMain')

                &:last-child
                  margin-right: 0

                > .icon
                  width: 50px
                  height: 50px
                  margin: 0 auto
                  background-size: 100%
                  border-radius: 4px
                  border: 3px solid getColor('$tertiary0')
                  box-sizing: content-box

                > .name
                  font-micro()
                  margin-top: 4px
                  width: 68px
                  text-align: center
