@require '../../vars'

.z-places-map-container
  flex: 1
  display: flex
  flex-direction: column
  position: relative
  user-select: none

  > .filters
    background: getColor('$bg500')
    white-space: nowrap
    overflow-x: auto
    -webkit-overflow-scrolling: touch
    position: absolute
    width: 100%
    z-index: 99
    border-bottom: 1px solid getColor('$black12')

    > .filter
      font-caption1(false)
      cursor: pointer
      display: inline-block
      background: getColor('$tertiary100')
      border: 1px solid getColor('$tertiary100')
      padding: 0 8px
      border-radius: 10px
      margin: 8px 4px
      position: relative

      &.has-value
        border: 1px solid getColor('$primary500')

      &.has-more
        padding-right: 24px

        &:after
          content: ''
          position: absolute
          top: 50%
          margin-top: -2px
          right: 8px
          width: 0
          height: 0
          border-left: 4px solid transparent
          border-right: 4px solid transparent
          border-top: 4px solid getColor('$primary500')

  > .types
    position: absolute
    display: none
    top: 36px
    left: 4px
    background: getColor('$bg500')
    border: 1px solid getColor('$black12')
    border-top: none
    z-index: 99

    &.is-visible
      display: block

    > .type
      font-caption1()
      padding: 4px 8px
      display: flex
      align-items: center
      cursor: pointer

      &.is-selected
        background: getColor('$tertiary100')

      > .checkbox
        margin-right: 4px
        display: flex

      > .name
        display: flex
        align-items: center

        > .key
          width: 10px
          height: 10px
          margin-right: 4px

  > .place
    display: none

    &.is-visible
      display: block
