@require '../../vars'

.z-places-map-container
  flex: 1
  display: flex
  flex-direction: column
  position: relative
  user-select: none

  > .top-bar
    background: getColor('$bg500')
    width: 100%
    height: 40px
    border-bottom: 1px solid getColor('$black12')
    box-sizing: border-box
    display: flex

    > .show
      font-caption2(false)
      cursor: pointer
      background: getColor('$bg600')
      padding: 0 32px 0 12px
      border-right: 1px solid getColor('$black12')
      margin-right: 4px
      position: relative
      display: flex
      align-items: center

      &:after
        content: ''
        position: absolute
        top: 50%
        margin-top: -2px
        right: 12px
        width: 0
        height: 0
        border-left: 4px solid transparent
        border-right: 4px solid transparent
        border-top: 4px solid getColor('$bgText70')

    > .filters
      flex: 1
      white-space: nowrap
      overflow-x: auto
      -webkit-overflow-scrolling: touch

      &.amenity
        > .filter
          background: getColor('$tertiary100')
          border: 1px solid getColor('$blue50026')

          &.has-value
            background: getColor('$blue50026')
            border: 1px solid getColor('$blue500')

      > .filter
        font-caption2(false)
        cursor: pointer
        display: inline-block
        background: getColor('$tertiary100')
        border: 1px solid getColor('$primary100')
        padding: 0 8px
        border-radius: 10px
        margin: 8px 4px
        position: relative

        &.has-value
          background: getColor('$primary50')
          border: 1px solid getColor('$primary500')

        &.has-more
          padding-right: 24px

          &:after
            content: ''
            position: absolute
            top: 50%
            margin-top: -2px
            right: 8px
            width: 0
            height: 0
            border-left: 4px solid transparent
            border-right: 4px solid transparent
            border-top: 4px solid getColor('$primary500')

  > .types
    position: absolute
    display: none
    top: 40px
    left: 0
    min-width: 180px
    background: getColor('$tertiary100')
    border: 1px solid getColor('$black12')
    border-left: none
    border-top: none
    z-index: 1000 // nav bar grip is 999, this needs to be higher
    padding-bottom: 4px

    &.is-visible
      display: block

    > .title
      font-caption3(false)
      padding: 8px

    > .type
      font-caption2(false)
      padding: 6px 8px
      display: flex
      align-items: center
      cursor: pointer

      &.is-selected
        background: getColor('$primary50')

      &.is-selected.amenity
        background: getColor('$blue50026')

      &.is-selected.low-clearance
        background: getColor('$red50026')

      > .checkbox
        margin-right: 8px
        display: flex

      > .name
        display: flex
        align-items: center

        > .key
          width: 10px
          height: 10px
          margin-right: 4px

  > .map
    flex: 1
    display: flex
    position: relative

    > .layers-fab
      position: absolute
      top: 16px
      right: 16px

    > .layers
      shadow-1()
      position: absolute
      top: 16px
      right: 16px
      background: getColor('$tertiary100')
      border-radius: 8px
      padding: 12px 16px
      z-index: 99
      opacity: 0
      min-width: 240px
      min-height: 220px
      box-sizing: border-box
      transform: scale(0.5)
      opacity: 0
      pointer-events: none
      transform-origin: top right
      transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1)

      &.is-visible
        pointer-events: all
        opacity: 1
        transform: scale(1)

        > .content
          opacity: 1

      > .content
        opacity: 0
        transition: opacity 0.2s
        transition-delay: 0.2s

        > .title
          font-subhead2()
          margin-bottom: 8px

        > .layer-icons
          > .g-grid
            > .g-cols

              > .layer-icon
                text-align: center
                cursor: pointer
                display: flex
                flex-direction: column
                align-items: center

                &.is-visible
                  > .icon
                    border: 2px solid getColor('$primary500')

                  > .name
                    color: getColor('$primary500')

                &:last-child
                  margin-right: 0

                > .icon
                  width: 48px
                  height: 48px
                  background-size: 100%
                  border-radius: 8px
                  border: 2px solid getColor('$black26')

                > .name
                  font-tiny(false)
                  margin-top: 4px

                &.us-blm
                  > .icon
                    background-image: url($cdnUrl + '/maps/blm_overlay.png')

                &.us-usfs
                  > .icon
                    background-image: url($cdnUrl + '/maps/usfs_overlay.png')

                &.us-cell-att
                  > .icon
                    background-image: url($cdnUrl + '/maps/att_overlay.png')

                &.us-cell-sprint
                  > .icon
                    background-image: url($cdnUrl + '/maps/sprint_overlay.png')

                &.us-cell-tmobile
                  > .icon
                    background-image: url($cdnUrl + '/maps/tmobile_overlay.png')

                &.us-cell-verizon
                  > .icon
                    background-image: url($cdnUrl + '/maps/verizon_overlay.png')
