@require '../../vars'

.z-map
  flex1()
  display: flex
  position: relative

  > .map
    flex1()

  &.is-loading
    > .loading
      display: flex

  > .loading
    position: absolute
    display: none
    z-index: 1
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: getColor('$bg500')
