@require '../../vars'

$zIndexSearchOverlay = 2
$zIndexForm = 1

.z-search-input
  position: relative

  &.has-on-click
    > .form > .input
      cursor: pointer

  > .search-overlay
    position: absolute
    z-index: $zIndexSearchOverlay
    width: 100%
    top: 0
    left: 0
    height: 100%
    display: flex
    align-items: center
    box-sizing: border-box
    pointer-events: none

    > .right-icon, > .left-icon
      pointer-events: auto

    > .right-icon
      margin-left: auto
      margin-right: 4px

  > .form
    flex: 1
    display: flex
    position: relative
    z-index: $zIndexForm

    > .input
      shadow-1()
      flex: 1
      margin: 8px
      padding-left: 64px
      border-radius: 2px
      border: none
      box-sizing: border-box
      transition: margin 0.1s
      -webkit-tap-highlight-color: transparent
      color: getColor('$tertiary700Text')
      margin: 0
      box-shadow: none
      outline: none

  &.is-search-icon-right
      > .form
        > .input
          padding-left: 16px
