@require '../../vars'

.z-group-list
  > .title
    font-subtitle1()
    color: getColor('$primaryMain')

  > .no-groups
    box-sizing: border-box
    padding: 16px
    text-align: center

  > .groups
    overflow: auto
    -webkit-overflow-scrolling: touch
    white-space: nowrap

    > .group
      shadow-1()
      background: getColor('$tertiary0')
      border-radius: 2px
      display: inline-block
      width: 104px
      height: 128px
      padding: 6px
      box-sizing: border-box
      margin-right: 8px
      background-size: 100% auto
      position: relative

      &:last-child
        margin-right: 0

      > .name
        font-subtitle1(false)
        position: absolute
        bottom: 6px
        left: 6px
        white-space: normal
        line-height: 1em
        // overflow: hidden
        // text-overflow: ellipsis
        // white-space: nowrap
        width: 100%
        color: getColor('$white')

      &.is-light
        > .name
          color: getColor('$bgText87')
