@require '../../vars'

.z-edit-trip-navigate
  flex1()
  display: flex
  flex-direction: column

  > .map
    flex1()
    display: flex
    position: relative

  > .routes
    flex1()
    background: getColor('$tertiary0')

    > .stats
      display: flex
      padding: 0 16px

      > .main, > .alt
        &.main
          color: getColor('$secondary700')

          > .distance-time
            > .distance, > .time
              > .number
                color: getColor('$secondary700')

        &.alt
          color: getColor('$black54')
          margin-left: auto

          > .distance-time
            > .distance, > .time
              > .number
                color: getColor('$black54')

        > .distance-time
          display: flex

          > .distance, > .time
            display: flex
            align-items: flex-end

            > .number
              font-h3()
              margin-right: 4px

          > .time
            margin-left: 24px

    > .actions
      padding: 16px

  @media (min-width: $breakPointMedium)
    > .routes
      position: absolute
      bottom: 8px
      left: 8px
      right: 8px
      background: getColor('$tertiary0')
      max-width: 400px
