@require '../../vars'

.z-settings
  > .g-grid
    padding: 0 16px
    box-sizing: border-box

    > .section
      margin: 16px 0

      > .title
        font-title()
        text-transform: uppercase
        color: getColor('$primaryMain')
        margin-bottom: 8px

      > .flex
        display: flex
        align-items: center

      > .actions
        margin-top: 16px

    > .actions
      margin-top: 32px

      > .button
        display: inline-block
