@require '../../vars'

.z-product-guides
  padding: 16px
  flex1()
  overflow: auto
  -webkit-overflow-scrolling: touch

  > .g-grid
    > .search, > .info-card
      margin-bottom: 16px

    > .g-cols
      > .g-col
        > .card
          card()
          margin-bottom: 16px

          > .top
            padding: 16px
            display: flex
            align-items: center
            border-bottom: 1px solid getColor('$black12')

            > .icon
              width: 54px
              height: 54px
              margin-right: 12px
              background-size: 100%
              border-radius: 50%
              flex-shrink: 0

            > .content
              min-width: 0

              > .name
                font-h2()

              > .products
                font-body2()
                white-space: nowrap
                text-overflow: ellipsis
                overflow: hidden

            > .chevron
              margin-left: auto
              flex-shrink: 0

          > .description
            font-body1()
            padding: 16px

  @media (min-width: $breakPointMedium)
    > .g-grid > .g-cols > .g-col > .category
      margin-bottom: 0
