@require '../../vars'

.z-message
  display: flex
  width: 100%
  box-sizing: border-box
  overflow: hidden
  position: relative

  &.is-me-mentioned
    > .content > .body
      background: getColor('$tertiary0')
      border-left: 2px solid getColor('$primary500')
      border-radius: 2px
      padding-left: 4px

  &.is-grouped
    padding-top: 4px

    > .avatar
      visibility: hidden

  > .avatar
    margin-right: 16px
    cursor: pointer
    position: relative

    > .level
      font-micro()
      position: absolute
      bottom: 0
      left: 0
      background: red
      border-radius: 50%
      color: getColor('$bgText')
      padding: 4px

  > .content
    flex1()
    min-width: 0 // fix

    > .body
      font-body2(no)
      // font-size: 14px
      position: relative
      z-index: 2
      padding-right: 16px
      margin-top: 6px
      overflow: hidden

      p
        &:first-child
          margin-top: 0

        &:last-child
          margin-bottom: 0

      .link
        text-decoration: underline

      // .sticker
      //   width: 70px
      //   height: 70px
      //   background-size: 100%
      //   background-repeat: no-repeat
      //   margin-right: auto

    > .action
      font-action()
      margin-top: 8px

    > .custom-card
      margin-top: 12px

    > .card
      position: relative
      display: block
      z-index: 2
      background: getColor('$tertiary0')
      border: 1px solid getColor('$bgText12')
      padding: 12px
      margin-top: 12px
      border-radius: 4px
      cursor: pointer
      max-width: 300px
      overflow: hidden

      > .title
        font-title()

      > .description
        font-body1()
        color: getColor('$bgText54')
        margin-top: 6px


  @media (min-width: $breakPointMedium)
    > .content
      > .info > .name
        max-width: none
